<template>
    <div class="icons-container">
        <div v-for="zone in zones">
            <div :class="[zone.class, {active: zone.id == getZone.id}]" @click="setZone(zone)"></div>
            <span class="subtitle">{{zone.name}}</span>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'Range',
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters({
        zones: 'getZones',
        getZone: 'getZoneSelected'
    })
  },
  methods: {
    ...mapActions({
        setZone: 'setZone'
    })
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    .icons-container {
        display: flex;
        justify-content: space-between;
    }
    .icons-container > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icons-container span {
        font-size: bold;
        font-size: 0.7rem;
    }
    .beach {
        background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='48px' height='48px' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EGroup 14 Copy%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='final' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E %3Cg id='Artboard' transform='translate(-155.000000, -60.000000)' stroke='%239B9B9B' stroke-width='1.97119977'%3E %3Cg id='Group-14-Copy' transform='translate(156.000000, 61.000000)'%3E %3Cg id='Group-9'%3E %3Cg id='noun_111784_cc'%3E %3Cg id='Group'%3E %3Cpath d='M27.23,40.824 C27.487,37.787 28.048,34.449 28.928,30.992 C32.043,18.775 37.973,9.73 42.171,10.789 C46.37,11.848 47.25,22.61 44.135,34.83 C43.295,38.123 42.25,41.187 41.09,43.883' id='Shape'%3E%3C/path%3E %3Cpath d='M42.172,10.79 L34.289,41.711' id='Shape'%3E%3C/path%3E %3Cpath d='M4.765,46 C4.765,46 24.572,34.742 44.769,46' id='Shape'%3E%3C/path%3E %3Cellipse id='Oval' cx='12.474' cy='12.408' rx='5.842' ry='5.811'%3E%3C/ellipse%3E %3Cg id='Shape'%3E %3Cg transform='translate(12.000000, 0.000000)'%3E %3Cpath d='M0.474,0 L0.474,6.339'%3E%3C/path%3E %3Cpath d='M0.474,18.476 L0.474,24.814'%3E%3C/path%3E %3C/g%3E %3Cg transform='translate(0.000000, 12.000000)'%3E %3Cpath d='M24.947,0.408 L18.575,0.408'%3E%3C/path%3E %3Cpath d='M6.372,0.408 L0,0.408'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3Cg transform='translate(3.000000, 3.000000)' id='Shape'%3E %3Cg%3E %3Cpath d='M18.294,0.634 L13.787,5.116'%3E%3C/path%3E %3Cpath d='M5.159,13.699 L0.653,18.181'%3E%3C/path%3E %3C/g%3E %3Cg%3E %3Cpath d='M18.294,18.181 L13.788,13.699'%3E%3C/path%3E %3Cpath d='M5.159,5.116 L0.653,0.634'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    }
    .beach.active {
        background-color: #FA6E5F;
        background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='48px' height='48px' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EGroup 14%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='final' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E %3Cg id='Artboard' transform='translate(-155.000000, -155.000000)' stroke='%23FFFFFF' stroke-width='1.97119977'%3E %3Cg id='Group-14' transform='translate(156.000000, 156.000000)'%3E %3Cg id='Group-9'%3E %3Cg id='noun_111784_cc'%3E %3Cg id='Group'%3E %3Cpath d='M27.23,40.824 C27.487,37.787 28.048,34.449 28.928,30.992 C32.043,18.775 37.973,9.73 42.171,10.789 C46.37,11.848 47.25,22.61 44.135,34.83 C43.295,38.123 42.25,41.187 41.09,43.883' id='Shape'%3E%3C/path%3E %3Cpath d='M42.172,10.79 L34.289,41.711' id='Shape'%3E%3C/path%3E %3Cpath d='M4.765,46 C4.765,46 24.572,34.742 44.769,46' id='Shape'%3E%3C/path%3E %3Cellipse id='Oval' cx='12.474' cy='12.408' rx='5.842' ry='5.811'%3E%3C/ellipse%3E %3Cg id='Shape'%3E %3Cg transform='translate(12.000000, 0.000000)'%3E %3Cpath d='M0.474,0 L0.474,6.339'%3E%3C/path%3E %3Cpath d='M0.474,18.476 L0.474,24.814'%3E%3C/path%3E %3C/g%3E %3Cg transform='translate(0.000000, 12.000000)'%3E %3Cpath d='M24.947,0.408 L18.575,0.408'%3E%3C/path%3E %3Cpath d='M6.372,0.408 L0,0.408'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3Cg transform='translate(3.000000, 3.000000)' id='Shape'%3E %3Cg%3E %3Cpath d='M18.294,0.634 L13.787,5.116'%3E%3C/path%3E %3Cpath d='M5.159,13.699 L0.653,18.181'%3E%3C/path%3E %3C/g%3E %3Cg%3E %3Cpath d='M18.294,18.181 L13.788,13.699'%3E%3C/path%3E %3Cpath d='M5.159,5.116 L0.653,0.634'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    }
    .river.active {
        background-color: #FA6E5F;
        background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='51px' height='56px' viewBox='0 0 51 56' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EGroup 12%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='final' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-opacity='0'%3E %3Cg id='Artboard' transform='translate(-327.000000, -151.000000)' fill='%23FFFFFF' fill-rule='nonzero' stroke='%23FA6E5F'%3E %3Cg id='Group-12' transform='translate(327.000000, 151.000000)'%3E %3Cg id='Group-8'%3E %3Cg id='noun_1767689_cc'%3E %3Cg id='Group'%3E %3Cpath d='M13.2646513,19.057378 C13.5133899,19.057378 13.6696058,19.0432927 13.7031286,19.0406098 C14.4359354,18.9695122 14.9682763,18.3195732 14.9025717,17.5857927 C14.8361967,16.8520122 14.1898786,16.317439 13.4517081,16.3697561 C13.3236513,16.3818293 10.4172308,16.575 8.79741265,13.7572561 L8.79741265,10.7557317 C10.4018104,12.2253049 11.896924,12.2970732 12.1423104,12.2970732 C12.8824922,12.2970732 13.5040036,11.6967683 13.5040036,10.9562805 C13.5040036,10.2157927 12.9247308,9.61481707 12.1838786,9.61481707 C12.103424,9.60945122 10.2415717,9.43707317 8.79674219,5.99286585 L8.79674219,3.34146341 C8.79674219,2.60097561 8.19601492,2 7.4558331,2 C6.71565128,2 6.11492401,2.60097561 6.11492401,3.34146341 L6.11492401,5.99353659 C4.69423083,9.38006098 2.87059446,9.60341463 2.73449219,9.6154878 C2.01040128,9.63426829 1.42978765,10.2271951 1.42978765,10.9562805 C1.42978765,11.6967683 2.03051492,12.2977439 2.77069674,12.2977439 C3.0160831,12.2977439 4.51119674,12.2259756 6.11492401,10.7564024 L6.11492401,13.7579268 C4.49979901,16.567622 1.6074581,16.3838415 1.46263992,16.3697561 C0.732514918,16.3127439 0.0788217366,16.8412805 0.0064126457,17.575061 C-0.0653259907,18.3128659 0.473049009,18.9688415 1.20987855,19.0412805 C1.24340128,19.0446341 1.39961719,19.0580488 1.64835583,19.0580488 C2.48173083,19.0580488 4.35162855,18.8964024 6.11492401,17.6756707 L6.11492401,23.4915854 C6.11492401,24.2320732 6.71565128,24.8330488 7.4558331,24.8330488 C8.19601492,24.8330488 8.79674219,24.2320732 8.79674219,23.4915854 L8.79674219,17.675 C10.5607081,18.8957317 12.4306058,19.057378 13.2646513,19.057378 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M49.4665019,46.3584146 C49.4229224,46.3644512 45.4471269,46.6454878 43.3010019,43.4487805 L43.3010019,39.7034146 C45.4980815,41.7779878 47.6703542,41.8222561 47.7970701,41.8222561 C48.5278656,41.8222561 49.111161,41.2360366 49.1245701,40.504939 C49.1379792,39.7738415 48.5513315,39.1668293 47.820536,39.1393293 C47.7119224,39.1353049 45.1809565,38.9877439 43.3010019,35.1518293 L43.3010019,32.3414634 C43.3010019,31.6009756 42.7002747,31 41.9600928,31 C41.219911,31 40.6191838,31.6009756 40.6191838,32.3414634 L40.6191838,35.1518293 C38.7546497,38.9555488 36.2498315,39.132622 36.1023315,39.1386585 C35.3708656,39.150061 34.781536,39.7456707 34.781536,40.480122 C34.781536,41.2206098 35.3822633,41.8215854 36.1224451,41.8215854 C36.2498315,41.8215854 38.4221042,41.7773171 40.6191838,39.7027439 L40.6191838,43.4494512 C38.5012178,46.6065854 34.6293428,46.3725 34.4483201,46.3584146 C33.7061269,46.2893293 33.0665133,46.8467073 33.0048315,47.5831707 C32.9424792,48.3216463 33.490911,48.9695732 34.2290815,49.0319512 C34.2679678,49.0353049 34.4476497,49.0487195 34.7352747,49.0487195 C35.8026383,49.0487195 38.3496951,48.8528659 40.6191838,47.2457927 L40.6191838,53.8786585 C40.6191838,54.6191463 41.219911,55.220122 41.9600928,55.220122 C42.7002747,55.220122 43.3010019,54.6191463 43.3010019,53.8786585 L43.3010019,47.2457927 C45.5704906,48.8528659 48.1168769,49.0487195 49.1842406,49.0487195 C49.4718656,49.0487195 49.6515474,49.0346341 49.6904338,49.0319512 C50.4292747,48.9695732 50.977036,48.3209756 50.9146838,47.5831707 C50.8523315,46.8453659 50.202661,46.2920122 49.4665019,46.3584146 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M26.8467221,6.24164523 C28.2647334,4.43938913 29.5312221,3.73914523 30.9968357,2.92823059 C31.2469152,2.79005986 31.4976652,2.6512184 31.7504266,2.50634035 C32.3933925,2.13810864 32.6159834,1.31847449 32.2479039,0.675913518 C31.8798243,0.0326818107 31.0598584,-0.19134258 30.4182334,0.178230591 C30.1768698,0.315730591 29.9368471,0.448535469 29.6995061,0.580669616 C28.1219266,1.45262084 26.4920516,2.35475498 24.7394834,4.58292571 C22.0757675,7.9694501 21.6051084,12.4036574 21.1907675,16.3160355 C21.1069607,17.104816 21.0244948,17.8842062 20.9252675,18.6428038 C20.5799834,21.2942062 19.9417107,24.6626208 18.049688,27.1865842 C16.6216198,29.0907916 14.7778698,30.6173769 12.8261766,32.2331696 C12.1664493,32.7791452 11.508063,33.3251208 10.8671084,33.8845111 C4.17329023,39.727255 3.77906296,47.9504257 4.0646766,53.6268282 C4.10088114,54.3438403 4.69289251,54.9005477 5.40223342,54.9005477 C5.42502887,54.9005477 5.44782432,54.8998769 5.47129023,54.8985355 C6.21147205,54.8616452 6.78001751,54.2318282 6.74247205,53.4913403 C6.33349478,45.3567062 8.20406296,39.7688403 12.629063,35.9054257 C13.2532561,35.3607916 13.8935402,34.8309135 14.5351652,34.299694 C16.5217221,32.6550599 18.5759948,30.9540842 20.1938016,28.7956696 C22.4619493,25.7706696 23.1967675,21.9649379 23.5842902,18.9875599 C23.6855289,18.2088403 23.7706766,17.4086574 23.8564948,16.5977428 C24.2527334,12.8731696 24.6610402,9.02048669 26.8467221,6.24164523 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M37.776271,5.41195355 C38.3676119,4.96591697 38.4849415,4.1248194 38.0384187,3.53323404 C37.5932369,2.9423194 36.7518165,2.82427062 36.1604756,3.27097794 C33.2077937,5.50116087 31.1407824,7.68640477 30.6513506,11.0970755 C30.0566574,15.2468926 30.6319074,18.4462828 31.1394415,21.2693926 C31.6349074,24.0281121 32.1035551,26.6339048 31.4659528,29.8648194 C30.9128278,32.6704901 29.9862596,34.1454292 28.8129642,36.013417 C27.5431233,38.0343316 26.1049983,40.3255511 24.8968392,44.7195145 C23.8629983,48.4809779 23.9179756,52.4496975 24.1137483,54.2016487 C24.1901801,54.8871365 24.7701233,55.3942096 25.4439301,55.3942096 C25.4935437,55.3942096 25.5438278,55.3915267 25.5947824,55.3854901 C26.3309415,55.3036609 26.861271,54.6403072 26.7788051,53.9038438 C26.6172256,52.4496975 26.5548733,48.8069536 27.4834528,45.4304901 C28.5863506,41.4175023 29.8561915,39.3952462 31.0837937,37.4400633 C32.2993278,35.5043316 33.447146,33.6765877 34.0968165,30.383295 C34.8323051,26.6560389 34.2966119,23.6759779 33.7783506,20.7938438 C33.2842256,18.0425023 32.7726687,15.1979292 33.3056801,11.4773804 C33.6254869,9.25189257 34.7954301,7.66494136 37.776271,5.41195355 Z' id='Shape'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    }
    .river {
        background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='53px' height='57px' viewBox='0 0 53 57' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Enoun_1767689_cc%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='App_Signaler_1/3-Copy' transform='translate(-204.000000, -504.000000)' fill='%239B9B9B' fill-rule='nonzero' stroke='%23FFFFFF'%3E %3Cg id='Group-15' transform='translate(25.000000, 466.000000)'%3E %3Cg id='Group-12' transform='translate(174.000000, 35.000000)'%3E %3Cg id='Group-8'%3E %3Cg id='noun_1767689_cc' transform='translate(6.000000, 4.000000)'%3E %3Cg id='Group'%3E %3Cpath d='M13.2646513,19.057378 C13.5133899,19.057378 13.6696058,19.0432927 13.7031286,19.0406098 C14.4359354,18.9695122 14.9682763,18.3195732 14.9025717,17.5857927 C14.8361967,16.8520122 14.1898786,16.317439 13.4517081,16.3697561 C13.3236513,16.3818293 10.4172308,16.575 8.79741265,13.7572561 L8.79741265,10.7557317 C10.4018104,12.2253049 11.896924,12.2970732 12.1423104,12.2970732 C12.8824922,12.2970732 13.5040036,11.6967683 13.5040036,10.9562805 C13.5040036,10.2157927 12.9247308,9.61481707 12.1838786,9.61481707 C12.103424,9.60945122 10.2415717,9.43707317 8.79674219,5.99286585 L8.79674219,3.34146341 C8.79674219,2.60097561 8.19601492,2 7.4558331,2 C6.71565128,2 6.11492401,2.60097561 6.11492401,3.34146341 L6.11492401,5.99353659 C4.69423083,9.38006098 2.87059446,9.60341463 2.73449219,9.6154878 C2.01040128,9.63426829 1.42978765,10.2271951 1.42978765,10.9562805 C1.42978765,11.6967683 2.03051492,12.2977439 2.77069674,12.2977439 C3.0160831,12.2977439 4.51119674,12.2259756 6.11492401,10.7564024 L6.11492401,13.7579268 C4.49979901,16.567622 1.6074581,16.3838415 1.46263992,16.3697561 C0.732514918,16.3127439 0.0788217366,16.8412805 0.0064126457,17.575061 C-0.0653259907,18.3128659 0.473049009,18.9688415 1.20987855,19.0412805 C1.24340128,19.0446341 1.39961719,19.0580488 1.64835583,19.0580488 C2.48173083,19.0580488 4.35162855,18.8964024 6.11492401,17.6756707 L6.11492401,23.4915854 C6.11492401,24.2320732 6.71565128,24.8330488 7.4558331,24.8330488 C8.19601492,24.8330488 8.79674219,24.2320732 8.79674219,23.4915854 L8.79674219,17.675 C10.5607081,18.8957317 12.4306058,19.057378 13.2646513,19.057378 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M49.4665019,46.3584146 C49.4229224,46.3644512 45.4471269,46.6454878 43.3010019,43.4487805 L43.3010019,39.7034146 C45.4980815,41.7779878 47.6703542,41.8222561 47.7970701,41.8222561 C48.5278656,41.8222561 49.111161,41.2360366 49.1245701,40.504939 C49.1379792,39.7738415 48.5513315,39.1668293 47.820536,39.1393293 C47.7119224,39.1353049 45.1809565,38.9877439 43.3010019,35.1518293 L43.3010019,32.3414634 C43.3010019,31.6009756 42.7002747,31 41.9600928,31 C41.219911,31 40.6191838,31.6009756 40.6191838,32.3414634 L40.6191838,35.1518293 C38.7546497,38.9555488 36.2498315,39.132622 36.1023315,39.1386585 C35.3708656,39.150061 34.781536,39.7456707 34.781536,40.480122 C34.781536,41.2206098 35.3822633,41.8215854 36.1224451,41.8215854 C36.2498315,41.8215854 38.4221042,41.7773171 40.6191838,39.7027439 L40.6191838,43.4494512 C38.5012178,46.6065854 34.6293428,46.3725 34.4483201,46.3584146 C33.7061269,46.2893293 33.0665133,46.8467073 33.0048315,47.5831707 C32.9424792,48.3216463 33.490911,48.9695732 34.2290815,49.0319512 C34.2679678,49.0353049 34.4476497,49.0487195 34.7352747,49.0487195 C35.8026383,49.0487195 38.3496951,48.8528659 40.6191838,47.2457927 L40.6191838,53.8786585 C40.6191838,54.6191463 41.219911,55.220122 41.9600928,55.220122 C42.7002747,55.220122 43.3010019,54.6191463 43.3010019,53.8786585 L43.3010019,47.2457927 C45.5704906,48.8528659 48.1168769,49.0487195 49.1842406,49.0487195 C49.4718656,49.0487195 49.6515474,49.0346341 49.6904338,49.0319512 C50.4292747,48.9695732 50.977036,48.3209756 50.9146838,47.5831707 C50.8523315,46.8453659 50.202661,46.2920122 49.4665019,46.3584146 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M26.8467221,6.24164523 C28.2647334,4.43938913 29.5312221,3.73914523 30.9968357,2.92823059 C31.2469152,2.79005986 31.4976652,2.6512184 31.7504266,2.50634035 C32.3933925,2.13810864 32.6159834,1.31847449 32.2479039,0.675913518 C31.8798243,0.0326818107 31.0598584,-0.19134258 30.4182334,0.178230591 C30.1768698,0.315730591 29.9368471,0.448535469 29.6995061,0.580669616 C28.1219266,1.45262084 26.4920516,2.35475498 24.7394834,4.58292571 C22.0757675,7.9694501 21.6051084,12.4036574 21.1907675,16.3160355 C21.1069607,17.104816 21.0244948,17.8842062 20.9252675,18.6428038 C20.5799834,21.2942062 19.9417107,24.6626208 18.049688,27.1865842 C16.6216198,29.0907916 14.7778698,30.6173769 12.8261766,32.2331696 C12.1664493,32.7791452 11.508063,33.3251208 10.8671084,33.8845111 C4.17329023,39.727255 3.77906296,47.9504257 4.0646766,53.6268282 C4.10088114,54.3438403 4.69289251,54.9005477 5.40223342,54.9005477 C5.42502887,54.9005477 5.44782432,54.8998769 5.47129023,54.8985355 C6.21147205,54.8616452 6.78001751,54.2318282 6.74247205,53.4913403 C6.33349478,45.3567062 8.20406296,39.7688403 12.629063,35.9054257 C13.2532561,35.3607916 13.8935402,34.8309135 14.5351652,34.299694 C16.5217221,32.6550599 18.5759948,30.9540842 20.1938016,28.7956696 C22.4619493,25.7706696 23.1967675,21.9649379 23.5842902,18.9875599 C23.6855289,18.2088403 23.7706766,17.4086574 23.8564948,16.5977428 C24.2527334,12.8731696 24.6610402,9.02048669 26.8467221,6.24164523 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M37.776271,5.41195355 C38.3676119,4.96591697 38.4849415,4.1248194 38.0384187,3.53323404 C37.5932369,2.9423194 36.7518165,2.82427062 36.1604756,3.27097794 C33.2077937,5.50116087 31.1407824,7.68640477 30.6513506,11.0970755 C30.0566574,15.2468926 30.6319074,18.4462828 31.1394415,21.2693926 C31.6349074,24.0281121 32.1035551,26.6339048 31.4659528,29.8648194 C30.9128278,32.6704901 29.9862596,34.1454292 28.8129642,36.013417 C27.5431233,38.0343316 26.1049983,40.3255511 24.8968392,44.7195145 C23.8629983,48.4809779 23.9179756,52.4496975 24.1137483,54.2016487 C24.1901801,54.8871365 24.7701233,55.3942096 25.4439301,55.3942096 C25.4935437,55.3942096 25.5438278,55.3915267 25.5947824,55.3854901 C26.3309415,55.3036609 26.861271,54.6403072 26.7788051,53.9038438 C26.6172256,52.4496975 26.5548733,48.8069536 27.4834528,45.4304901 C28.5863506,41.4175023 29.8561915,39.3952462 31.0837937,37.4400633 C32.2993278,35.5043316 33.447146,33.6765877 34.0968165,30.383295 C34.8323051,26.6560389 34.2966119,23.6759779 33.7783506,20.7938438 C33.2842256,18.0425023 32.7726687,15.1979292 33.3056801,11.4773804 C33.6254869,9.25189257 34.7954301,7.66494136 37.776271,5.41195355 Z' id='Shape'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    }
    .lake {
        background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='60px' height='31px' viewBox='0 0 60 31' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EGroup 13%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='final' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Artboard' transform='translate(-236.000000, -76.000000)' fill='%239B9B9B' fill-rule='nonzero'%3E %3Cg id='Group-13' transform='translate(236.000000, 76.000000)'%3E %3Cg id='Group-10'%3E %3Cg id='noun_345606_cc'%3E %3Cg id='Group'%3E %3Cpath d='M14.3956098,22.6328182 C14.2009756,22.6328182 14.0056098,22.5799773 13.8314634,22.4693636 C13.3595122,22.1685227 13.2307317,21.5562727 13.542439,21.1025455 L23.4190244,6.72981818 C23.6158537,6.44377273 23.9553659,6.27468182 24.3102439,6.28806818 C24.6665854,6.30075 24.9914634,6.49097727 25.1663415,6.79040909 L28.8731707,13.1369545 L36.4192683,0.552363636 C36.6021951,0.248 36.9395122,0.0605909091 37.3053659,0.0598863636 C37.3053659,0.0598863636 37.3060976,0.0598863636 37.3068293,0.0598863636 C37.6712195,0.0598863636 38.0085366,0.246590909 38.1921951,0.549545455 L48.5685366,17.7179091 C48.8531707,18.1885455 48.6870732,18.7923409 48.1982927,19.0664091 C47.7102439,19.3404773 47.082439,19.18125 46.7978049,18.7099091 L37.3104878,3.01263636 L29.7482927,15.6218864 C29.5653659,15.9269545 29.2273171,16.1143636 28.8614634,16.1143636 C28.8592683,16.1143636 28.8570732,16.1143636 28.8556098,16.1143636 C28.487561,16.11225 28.1487805,15.9206136 27.9680488,15.6120227 L24.2019512,9.16402273 L15.2509756,22.1903636 C15.0534146,22.4771136 14.7278049,22.6328182 14.3956098,22.6328182 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M58.5365854,23.1915227 C55.3821951,23.1915227 53.7321951,22.17275 52.2753659,21.27375 C50.88,20.4120909 49.6741463,19.6687955 47.1197561,19.6687955 C44.5653659,19.6687955 43.3595122,20.4127955 41.9641463,21.27375 C40.5080488,22.1720455 38.8573171,23.1915227 35.7029268,23.1915227 C32.5485366,23.1915227 30.8992683,22.17275 29.442439,21.27375 C28.0463415,20.4120909 26.8412195,19.6687955 24.287561,19.6687955 C21.7339024,19.6687955 20.5287805,20.4127955 19.1334146,21.27375 C17.6773171,22.1720455 16.0273171,23.1915227 12.8729268,23.1915227 C9.72,23.1915227 8.07,22.17275 6.61463415,21.27375 C5.22,20.4120909 4.01487805,19.6687955 1.46268293,19.6687955 C0.897073171,19.6687955 0.438292683,19.2270455 0.438292683,18.6824318 C0.438292683,18.1378182 0.896341463,17.6967727 1.46268293,17.6967727 C4.61560976,17.6967727 6.26487805,18.7148409 7.72097561,19.6138409 C9.11560976,20.4755 10.3207317,21.2187955 12.8736585,21.2187955 C15.4273171,21.2187955 16.632439,20.4747955 18.0285366,19.6138409 C19.4846341,18.7155455 21.1346341,17.6967727 24.2882927,17.6967727 C27.4426829,17.6967727 29.0926829,18.7148409 30.5487805,19.6138409 C31.9441463,20.4755 33.15,21.2187955 35.7036585,21.2187955 C38.2573171,21.2187955 39.4631707,20.4747955 40.8585366,19.6138409 C42.3146341,18.7155455 43.9653659,17.6967727 47.1204878,17.6967727 C50.2756098,17.6967727 51.9256098,18.7148409 53.382439,19.6138409 C54.7778049,20.4755 55.9836585,21.2187955 58.5373171,21.2187955 C59.1029268,21.2187955 59.5617073,21.6605455 59.5617073,22.2051591 C59.5617073,22.7497727 59.1021951,23.1915227 58.5365854,23.1915227 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M58.5365854,30.9415227 C55.3821951,30.9415227 53.7321951,29.92275 52.2753659,29.02375 C50.88,28.1620909 49.6741463,27.4187955 47.1197561,27.4187955 C44.5653659,27.4187955 43.3595122,28.1627955 41.9641463,29.02375 C40.5080488,29.9220455 38.8573171,30.9415227 35.7029268,30.9415227 C32.5485366,30.9415227 30.8992683,29.92275 29.442439,29.02375 C28.0463415,28.1620909 26.8412195,27.4187955 24.287561,27.4187955 C21.7339024,27.4187955 20.5287805,28.1627955 19.1334146,29.02375 C17.6773171,29.9220455 16.0273171,30.9415227 12.8729268,30.9415227 C9.72,30.9415227 8.07,29.92275 6.61463415,29.02375 C5.22,28.1620909 4.01487805,27.4187955 1.46268293,27.4187955 C0.897073171,27.4187955 0.438292683,26.9770455 0.438292683,26.4324318 C0.438292683,25.8878182 0.896341463,25.4460682 1.46268293,25.4460682 C4.61560976,25.4460682 6.26487805,26.4648409 7.72097561,27.3638409 C9.11560976,28.2255 10.3207317,28.9687955 12.8736585,28.9687955 C15.4273171,28.9687955 16.632439,28.2247955 18.0285366,27.3638409 C19.4846341,26.4655455 21.1346341,25.4460682 24.2882927,25.4460682 C27.4426829,25.4460682 29.0926829,26.4648409 30.5487805,27.3638409 C31.9441463,28.2255 33.15,28.9687955 35.7036585,28.9687955 C38.2573171,28.9687955 39.4631707,28.2247955 40.8585366,27.3638409 C42.3146341,26.4655455 43.9653659,25.4460682 47.1204878,25.4460682 C50.2756098,25.4460682 51.9256098,26.4648409 53.382439,27.3638409 C54.7778049,28.2255 55.9836585,28.9687955 58.5373171,28.9687955 C59.1029268,28.9687955 59.5617073,29.4105455 59.5617073,29.9551591 C59.5617073,30.4997727 59.1021951,30.9415227 58.5365854,30.9415227 Z' id='Shape'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    }
    .lake.active {
        background-color: #FA6E5F;
        background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='60px' height='31px' viewBox='0 0 60 31' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EGroup 13 Copy%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='final' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Artboard' transform='translate(-236.000000, -171.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E %3Cg id='Group-13-Copy' transform='translate(236.000000, 171.000000)'%3E %3Cg id='Group-10'%3E %3Cg id='noun_345606_cc'%3E %3Cg id='Group'%3E %3Cpath d='M14.3956098,22.6328182 C14.2009756,22.6328182 14.0056098,22.5799773 13.8314634,22.4693636 C13.3595122,22.1685227 13.2307317,21.5562727 13.542439,21.1025455 L23.4190244,6.72981818 C23.6158537,6.44377273 23.9553659,6.27468182 24.3102439,6.28806818 C24.6665854,6.30075 24.9914634,6.49097727 25.1663415,6.79040909 L28.8731707,13.1369545 L36.4192683,0.552363636 C36.6021951,0.248 36.9395122,0.0605909091 37.3053659,0.0598863636 C37.3053659,0.0598863636 37.3060976,0.0598863636 37.3068293,0.0598863636 C37.6712195,0.0598863636 38.0085366,0.246590909 38.1921951,0.549545455 L48.5685366,17.7179091 C48.8531707,18.1885455 48.6870732,18.7923409 48.1982927,19.0664091 C47.7102439,19.3404773 47.082439,19.18125 46.7978049,18.7099091 L37.3104878,3.01263636 L29.7482927,15.6218864 C29.5653659,15.9269545 29.2273171,16.1143636 28.8614634,16.1143636 C28.8592683,16.1143636 28.8570732,16.1143636 28.8556098,16.1143636 C28.487561,16.11225 28.1487805,15.9206136 27.9680488,15.6120227 L24.2019512,9.16402273 L15.2509756,22.1903636 C15.0534146,22.4771136 14.7278049,22.6328182 14.3956098,22.6328182 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M58.5365854,23.1915227 C55.3821951,23.1915227 53.7321951,22.17275 52.2753659,21.27375 C50.88,20.4120909 49.6741463,19.6687955 47.1197561,19.6687955 C44.5653659,19.6687955 43.3595122,20.4127955 41.9641463,21.27375 C40.5080488,22.1720455 38.8573171,23.1915227 35.7029268,23.1915227 C32.5485366,23.1915227 30.8992683,22.17275 29.442439,21.27375 C28.0463415,20.4120909 26.8412195,19.6687955 24.287561,19.6687955 C21.7339024,19.6687955 20.5287805,20.4127955 19.1334146,21.27375 C17.6773171,22.1720455 16.0273171,23.1915227 12.8729268,23.1915227 C9.72,23.1915227 8.07,22.17275 6.61463415,21.27375 C5.22,20.4120909 4.01487805,19.6687955 1.46268293,19.6687955 C0.897073171,19.6687955 0.438292683,19.2270455 0.438292683,18.6824318 C0.438292683,18.1378182 0.896341463,17.6967727 1.46268293,17.6967727 C4.61560976,17.6967727 6.26487805,18.7148409 7.72097561,19.6138409 C9.11560976,20.4755 10.3207317,21.2187955 12.8736585,21.2187955 C15.4273171,21.2187955 16.632439,20.4747955 18.0285366,19.6138409 C19.4846341,18.7155455 21.1346341,17.6967727 24.2882927,17.6967727 C27.4426829,17.6967727 29.0926829,18.7148409 30.5487805,19.6138409 C31.9441463,20.4755 33.15,21.2187955 35.7036585,21.2187955 C38.2573171,21.2187955 39.4631707,20.4747955 40.8585366,19.6138409 C42.3146341,18.7155455 43.9653659,17.6967727 47.1204878,17.6967727 C50.2756098,17.6967727 51.9256098,18.7148409 53.382439,19.6138409 C54.7778049,20.4755 55.9836585,21.2187955 58.5373171,21.2187955 C59.1029268,21.2187955 59.5617073,21.6605455 59.5617073,22.2051591 C59.5617073,22.7497727 59.1021951,23.1915227 58.5365854,23.1915227 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M58.5365854,30.9415227 C55.3821951,30.9415227 53.7321951,29.92275 52.2753659,29.02375 C50.88,28.1620909 49.6741463,27.4187955 47.1197561,27.4187955 C44.5653659,27.4187955 43.3595122,28.1627955 41.9641463,29.02375 C40.5080488,29.9220455 38.8573171,30.9415227 35.7029268,30.9415227 C32.5485366,30.9415227 30.8992683,29.92275 29.442439,29.02375 C28.0463415,28.1620909 26.8412195,27.4187955 24.287561,27.4187955 C21.7339024,27.4187955 20.5287805,28.1627955 19.1334146,29.02375 C17.6773171,29.9220455 16.0273171,30.9415227 12.8729268,30.9415227 C9.72,30.9415227 8.07,29.92275 6.61463415,29.02375 C5.22,28.1620909 4.01487805,27.4187955 1.46268293,27.4187955 C0.897073171,27.4187955 0.438292683,26.9770455 0.438292683,26.4324318 C0.438292683,25.8878182 0.896341463,25.4460682 1.46268293,25.4460682 C4.61560976,25.4460682 6.26487805,26.4648409 7.72097561,27.3638409 C9.11560976,28.2255 10.3207317,28.9687955 12.8736585,28.9687955 C15.4273171,28.9687955 16.632439,28.2247955 18.0285366,27.3638409 C19.4846341,26.4655455 21.1346341,25.4460682 24.2882927,25.4460682 C27.4426829,25.4460682 29.0926829,26.4648409 30.5487805,27.3638409 C31.9441463,28.2255 33.15,28.9687955 35.7036585,28.9687955 C38.2573171,28.9687955 39.4631707,28.2247955 40.8585366,27.3638409 C42.3146341,26.4655455 43.9653659,25.4460682 47.1204878,25.4460682 C50.2756098,25.4460682 51.9256098,26.4648409 53.382439,27.3638409 C54.7778049,28.2255 55.9836585,28.9687955 58.5373171,28.9687955 C59.1029268,28.9687955 59.5617073,29.4105455 59.5617073,29.9551591 C59.5617073,30.4997727 59.1021951,30.9415227 58.5365854,30.9415227 Z' id='Shape'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    }
    .under {
        background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='48px' height='48px' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EGroup 11 Copy%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='final' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Artboard' transform='translate(-416.000000, -61.000000)' fill='%239B9B9B' fill-rule='nonzero'%3E %3Cg id='Group-11-Copy' transform='translate(417.000000, 61.000000)'%3E %3Cg id='Group-6'%3E %3Cg id='noun_1043943_cc'%3E %3Cpath d='M46.4506494,47.0153846 C46.4506494,46.6461538 46.2064935,46.4 45.8402597,46.4 L39.3090909,46.4 C40.9571429,45.6 42.361039,44.1846154 43.0935065,42.4 L43.2155844,42.6461538 C43.3376623,42.8307692 43.5207792,42.9538462 43.7649351,42.9538462 C43.887013,42.9538462 43.9480519,42.9538462 44.0701299,42.8923077 C44.3753247,42.7076923 44.4974026,42.3384615 44.3142857,42.0307692 L43.5207792,40.5538462 C43.4597403,40.4307692 43.3376623,40.3076923 43.1545455,40.2461538 C42.9714286,40.1846154 42.8493506,40.2461538 42.6662338,40.3076923 L41.2012987,41.1076923 C40.8961039,41.2923077 40.774026,41.6615385 40.9571429,41.9692308 C41.1402597,42.2769231 41.5064935,42.4 41.8116883,42.2153846 L41.8727273,42.1538462 C40.5909091,44.8615385 37.6,46.4 34.6701299,45.8461538 L38.1493506,34.1538462 L40.4688312,34.8307692 C40.5298701,34.8307692 40.5909091,34.8307692 40.6519481,34.8307692 C40.8961039,34.8307692 41.1402597,34.6461538 41.2623377,34.4 C41.3844156,34.0923077 41.2012987,33.7230769 40.8350649,33.6615385 L38.4545455,32.9230769 L38.8207792,31.6923077 C38.8207792,31.6923077 38.8818182,31.6923077 38.8818182,31.6923077 C39.8584416,31.6923077 40.8350649,31.0153846 41.1402597,30.0307692 C41.5064935,28.8 40.8350649,27.5076923 39.5532468,27.1384615 C38.9428571,26.9538462 38.3324675,27.0153846 37.7831169,27.3230769 C37.2337662,27.6307692 36.8064935,28.1230769 36.6844156,28.7384615 C36.5012987,29.3538462 36.5623377,29.9692308 36.8675325,30.5230769 C37.0506494,30.8923077 37.3558442,31.2 37.661039,31.3846154 L37.2948052,32.6769231 L34.9753247,32 C34.6701299,31.8769231 34.3038961,32.0615385 34.2428571,32.4307692 C34.1207792,32.7384615 34.3038961,33.1076923 34.6701299,33.1692308 L36.9896104,33.8461538 L33.5103896,45.5384615 C30.7025974,44.4307692 29.0545455,41.4769231 29.4818182,38.4615385 L29.5428571,38.5230769 C29.6649351,38.7076923 29.8480519,38.8307692 30.0922078,38.8307692 C30.2142857,38.8307692 30.2753247,38.8307692 30.3974026,38.7692308 C30.7025974,38.5846154 30.8246753,38.2153846 30.6415584,37.9076923 L29.8480519,36.4307692 C29.787013,36.3076923 29.6649351,36.1846154 29.4818182,36.1230769 C29.2987013,36.0615385 29.1766234,36.1230769 28.9935065,36.1846154 L27.4675325,36.9230769 C27.1623377,37.1076923 27.0402597,37.4769231 27.2233766,37.7846154 C27.4064935,38.0923077 27.7727273,38.2153846 28.0779221,38.0307692 L28.3220779,37.9076923 C28.0168831,39.6923077 28.261039,41.4769231 29.1155844,43.0769231 C29.9090909,44.5538462 31.1298701,45.6615385 32.5948052,46.4 L11.5363636,46.4 L11.5363636,42.7076923 C12.574026,42.7076923 14.5272727,42.4615385 15.9311688,41.2307692 C15.9922078,41.1692308 15.9922078,41.1692308 16.0532468,41.1076923 C16.0532468,41.1076923 16.1142857,41.0461538 16.1142857,41.0461538 C16.7857143,40.3692308 17.212987,39.4461538 17.3350649,38.4 C17.7623377,38.5230769 18.3116883,38.6461538 18.9831169,38.6461538 C20.0207792,38.6461538 21.3025974,38.3384615 22.4623377,37.2923077 C22.7064935,37.0461538 22.7064935,36.6769231 22.5233766,36.4307692 C22.2792208,36.1846154 21.912987,36.1230769 21.6688312,36.3692308 C20.0207792,37.8461538 18.1896104,37.4153846 17.3961039,37.1692308 C17.7012987,32.9846154 22.7064935,31.8769231 22.8896104,31.8153846 C23.1948052,31.7538462 23.438961,31.4461538 23.3779221,31.0769231 C23.3168831,30.7692308 23.0116883,30.5230769 22.6454545,30.5846154 C22.5844156,30.5846154 20.9974026,30.9538462 19.4103896,31.9384615 C17.274026,33.2923077 16.1142857,35.2 16.1142857,37.4769231 C16.1142857,37.4769231 16.1142857,37.4769231 16.1142857,37.4769231 C16.1142857,37.4769231 16.1142857,37.4769231 16.1142857,37.5384615 C16.1142857,38.4615385 15.8701299,39.2 15.5038961,39.8153846 C14.6493506,39.1384615 12.6350649,37.3538462 12.6350649,34.2153846 C12.6350649,33.9076923 12.6350649,33.6 12.574026,33.3538462 C13.8558442,32.9846154 15.687013,31.9384615 15.8090909,29.5384615 C15.8090909,29.1692308 15.5649351,28.9230769 15.2597403,28.8615385 C14.8935065,28.8615385 14.6493506,29.1076923 14.5883117,29.4153846 C14.4662338,31.1384615 13.1844156,31.8153846 12.3909091,32.0615385 C12.2077922,31.0153846 11.8415584,30.2153846 11.4753247,29.6 C11.5974026,29.2307692 12.512987,26.4 15.2597403,25.9692308 C16.2974026,25.7846154 17.0909091,25.3538462 17.5792208,24.5538462 C18.5558442,22.9538462 17.8844156,20.7384615 17.8233766,20.6153846 C17.7012987,20.3076923 17.3961039,20.1230769 17.0298701,20.2461538 C16.7246753,20.3692308 16.5415584,20.6769231 16.6636364,21.0461538 C16.6636364,21.0461538 17.212987,22.8923077 16.5415584,23.9384615 C16.2363636,24.4307692 15.8090909,24.6769231 15.0766234,24.8 C12.3909091,25.2307692 11.1090909,27.3230769 10.5597403,28.5538462 C10.1935065,28.2461538 9.94935065,28.1230769 9.94935065,28.0615385 C9.64415584,27.9384615 9.27792208,28 9.15584416,28.3076923 C8.97272727,28.6153846 9.09480519,28.9846154 9.4,29.1076923 C9.46103896,29.1692308 10.925974,29.9692308 11.2922078,32.8615385 C11.2922078,32.8615385 11.2922078,32.8615385 11.2922078,32.8615385 C11.2922078,32.8615385 11.2922078,32.8615385 11.2922078,32.8615385 C11.3532468,33.2307692 11.3532468,33.7230769 11.3532468,34.1538462 C11.3532468,37.6615385 13.4285714,39.7538462 14.5272727,40.6153846 C13.2454545,41.4153846 11.4753247,41.4153846 11.0480519,41.4153846 C10.2545455,40.9230769 5.7987013,37.8461538 7.50779221,32.3076923 C8.24025974,29.9692308 8.17922078,27.9384615 7.32467532,26.2769231 C6.22597403,24.1230769 4.15064935,23.5076923 4.02857143,23.4461538 C3.72337662,23.3230769 3.35714286,23.5076923 3.2961039,23.8769231 C3.23506494,24.2461538 3.35714286,24.5538462 3.72337662,24.6153846 C3.72337662,24.6153846 5.37142857,25.1076923 6.28701299,26.8307692 C6.83636364,27.8769231 6.95844156,29.1692308 6.71428571,30.6461538 C6.59220779,30.3384615 6.34805195,30.0923077 6.16493506,29.8461538 C5.43246753,29.1076923 4.45584416,28.7384615 3.17402597,28.7384615 C2.80779221,28.7384615 2.56363636,29.0461538 2.56363636,29.3538462 C2.56363636,29.7230769 2.80779221,29.9692308 3.17402597,29.9692308 C4.02857143,29.9076923 4.76103896,30.2153846 5.24935065,30.7076923 C6.16493506,31.6307692 6.1038961,33.1692308 6.04285714,33.2923077 C5.67662338,35.3230769 6.1038961,37.1076923 6.83636364,38.4615385 C6.04285714,38.7076923 3.78441558,39.3230769 2.5025974,37.6 C2.31948052,37.3538462 1.89220779,37.2923077 1.64805195,37.4769231 C1.4038961,37.6615385 1.34285714,38.0923077 1.52597403,38.3384615 C2.5025974,39.6307692 3.84545455,40 5.06623377,40 C5.98181818,40 6.8974026,39.7538462 7.50779221,39.5076923 C8.54545455,40.9846154 9.76623377,41.9076923 10.3155844,42.2769231 L10.3155844,46.2769231 L0.61038961,46.2769231 C0.244155844,46.2769231 0,46.5230769 0,46.8923077 C0,47.2615385 0.244155844,47.5076923 0.61038961,47.5076923 L45.8402597,47.5076923 C46.1454545,47.6307692 46.4506494,47.3230769 46.4506494,47.0153846 Z M37.8441558,28.9846154 C37.9051948,28.6769231 38.0883117,28.4923077 38.3935065,28.3076923 C38.5766234,28.2461538 38.7597403,28.1846154 38.9428571,28.1846154 C39.0649351,28.1846154 39.125974,28.1846154 39.2480519,28.2461538 C39.5532468,28.3076923 39.7363636,28.5538462 39.9194805,28.8 C40.0415584,29.0461538 40.1025974,29.3538462 39.9805195,29.6615385 C39.7974026,30.2769231 39.187013,30.5846154 38.5766234,30.4 C38.2714286,30.3384615 38.0883117,30.0923077 37.9051948,29.8461538 C37.7831169,29.6 37.7831169,29.2923077 37.8441558,28.9846154 Z' id='Shape' stroke='%239B9B9B' stroke-width='0.5'%3E%3C/path%3E %3Cpath d='M4.33376623,4.55384615 C5.67662338,4.55384615 6.83636364,3.87692308 7.50779221,2.83076923 C8.17922078,3.87692308 9.33896104,4.55384615 10.6818182,4.55384615 C12.0246753,4.55384615 13.1844156,3.87692308 13.8558442,2.83076923 C14.5272727,3.87692308 15.687013,4.55384615 17.0298701,4.55384615 C18.3727273,4.55384615 19.5324675,3.87692308 20.2038961,2.83076923 C20.8753247,3.87692308 22.0350649,4.55384615 23.3779221,4.55384615 C24.7207792,4.55384615 25.8805195,3.87692308 26.5519481,2.83076923 C27.2233766,3.87692308 28.3831169,4.55384615 29.725974,4.55384615 C31.0688312,4.55384615 32.2285714,3.87692308 32.9,2.83076923 C33.5714286,3.87692308 34.7311688,4.55384615 36.074026,4.55384615 C37.4168831,4.55384615 38.5766234,3.87692308 39.2480519,2.83076923 C39.9194805,3.87692308 41.0792208,4.55384615 42.4220779,4.55384615 C44.4974026,4.55384615 46.2064935,2.83076923 46.2064935,0.738461538 C46.2064935,0.369230769 45.9623377,0.123076923 45.5961039,0.123076923 C45.2298701,0.123076923 44.9857143,0.369230769 44.9857143,0.738461538 C44.9857143,2.15384615 43.825974,3.32307692 42.4220779,3.32307692 C41.0181818,3.32307692 39.8584416,2.15384615 39.8584416,0.738461538 C39.8584416,0.369230769 39.6142857,0.123076923 39.2480519,0.123076923 C38.8818182,0.123076923 38.6376623,0.369230769 38.6376623,0.738461538 C38.6376623,2.15384615 37.4779221,3.32307692 36.074026,3.32307692 C34.6701299,3.32307692 33.5103896,2.15384615 33.5103896,0.738461538 C33.5103896,0.369230769 33.2662338,0.123076923 32.9,0.123076923 C32.5337662,0.123076923 32.2896104,0.369230769 32.2896104,0.738461538 C32.2896104,2.15384615 31.1298701,3.32307692 29.725974,3.32307692 C28.3220779,3.32307692 27.1623377,2.15384615 27.1623377,0.738461538 C27.1623377,0.369230769 26.9181818,0.123076923 26.5519481,0.123076923 C26.1857143,0.123076923 25.9415584,0.369230769 25.9415584,0.738461538 C25.9415584,2.15384615 24.7818182,3.32307692 23.3779221,3.32307692 C21.974026,3.32307692 20.8142857,2.15384615 20.8142857,0.738461538 C20.8142857,0.369230769 20.5701299,0.123076923 20.2038961,0.123076923 C19.8376623,0.123076923 19.5935065,0.369230769 19.5935065,0.738461538 C19.5935065,2.15384615 18.4337662,3.32307692 17.0298701,3.32307692 C15.625974,3.32307692 14.4662338,2.15384615 14.4662338,0.738461538 C14.4662338,0.369230769 14.2220779,0.123076923 13.8558442,0.123076923 C13.4896104,0.123076923 13.2454545,0.369230769 13.2454545,0.738461538 C13.2454545,2.15384615 12.0857143,3.32307692 10.6818182,3.32307692 C9.27792208,3.32307692 8.11818182,2.15384615 8.11818182,0.738461538 C8.11818182,0.369230769 7.87402597,0.123076923 7.50779221,0.123076923 C7.14155844,0.123076923 6.8974026,0.369230769 6.8974026,0.738461538 C6.8974026,2.15384615 5.73766234,3.32307692 4.33376623,3.32307692 C2.92987013,3.32307692 1.77012987,2.15384615 1.77012987,0.738461538 C1.77012987,0.369230769 1.52597403,0.123076923 1.15974026,0.123076923 C0.793506494,0.123076923 0.549350649,0.369230769 0.549350649,0.738461538 C0.549350649,2.89230769 2.25844156,4.55384615 4.33376623,4.55384615 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M23.6831169,20.0615385 C23.6831169,20.3692308 23.9272727,20.6153846 24.2324675,20.6769231 C24.3545455,20.6769231 24.4766234,20.6769231 24.5376623,20.6769231 C26.612987,20.6769231 27.8337662,18.5846154 28.4441558,17.1692308 C31.0077922,20.4923077 34.9142857,20.6769231 35.1584416,20.6769231 C35.1584416,20.6769231 35.1584416,20.6769231 35.2194805,20.6769231 C40.2857143,20.6769231 41.5675325,16.0615385 41.5675325,16 C41.5675325,15.8769231 41.5675325,15.7538462 41.5675325,15.6307692 C39.9194805,10.6461538 35.5857143,10.9538462 35.1584416,10.9538462 C34.7922078,10.9538462 30.9467532,11.2615385 28.5051948,14.4615385 C27.8948052,12.9846154 26.5519481,10.7076923 24.2935065,10.9538462 C23.9883117,11.0153846 23.7441558,11.2615385 23.7441558,11.5692308 C23.7441558,11.8769231 23.7441558,14.4 24.9038961,15.8153846 C23.6831169,17.2307692 23.6831169,19.7538462 23.6831169,20.0615385 Z M35.1584416,12.1846154 C35.1584416,12.1846154 35.2194805,12.1846154 35.2194805,12.1846154 C35.3415584,12.1846154 38.8207792,11.6923077 40.2857143,15.8153846 C40.0415584,16.5538462 38.8207792,19.4461538 35.1584416,19.4461538 C35.1584416,19.4461538 35.1584416,19.4461538 35.1584416,19.4461538 C35.0974026,19.4461538 31.1298701,19.2615385 28.9935065,15.8153846 C31.1298701,12.4307692 35.1584416,12.1846154 35.1584416,12.1846154 Z M26.0636364,15.3230769 C25.2701299,14.7076923 24.9649351,13.2307692 24.9038961,12.2461538 C26.4909091,12.6153846 27.4064935,15.1384615 27.6506494,15.8153846 C27.4675325,16.4923077 26.5519481,19.0153846 24.9038961,19.3846154 C24.9649351,18.4 25.2701299,16.8615385 26.0636364,16.3076923 C26.2467532,16.1846154 26.3077922,16 26.3077922,15.8153846 C26.3077922,15.6307692 26.2467532,15.4461538 26.0636364,15.3230769 Z' id='Shape'%3E%3C/path%3E %3Cellipse id='Oval' cx='37.6' cy='15.8153846' rx='1' ry='1'%3E%3C/ellipse%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    }
    .under.active {
        background-color: #FA6E5F;
        background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='47px' height='48px' viewBox='0 0 47 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EGroup 11%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='final' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Artboard' transform='translate(-417.000000, -156.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E %3Cg id='Group-11' transform='translate(417.000000, 156.000000)'%3E %3Cg id='Group-6'%3E %3Cg id='noun_1043943_cc'%3E %3Cpath d='M46.4506494,47.0153846 C46.4506494,46.6461538 46.2064935,46.4 45.8402597,46.4 L39.3090909,46.4 C40.9571429,45.6 42.361039,44.1846154 43.0935065,42.4 L43.2155844,42.6461538 C43.3376623,42.8307692 43.5207792,42.9538462 43.7649351,42.9538462 C43.887013,42.9538462 43.9480519,42.9538462 44.0701299,42.8923077 C44.3753247,42.7076923 44.4974026,42.3384615 44.3142857,42.0307692 L43.5207792,40.5538462 C43.4597403,40.4307692 43.3376623,40.3076923 43.1545455,40.2461538 C42.9714286,40.1846154 42.8493506,40.2461538 42.6662338,40.3076923 L41.2012987,41.1076923 C40.8961039,41.2923077 40.774026,41.6615385 40.9571429,41.9692308 C41.1402597,42.2769231 41.5064935,42.4 41.8116883,42.2153846 L41.8727273,42.1538462 C40.5909091,44.8615385 37.6,46.4 34.6701299,45.8461538 L38.1493506,34.1538462 L40.4688312,34.8307692 C40.5298701,34.8307692 40.5909091,34.8307692 40.6519481,34.8307692 C40.8961039,34.8307692 41.1402597,34.6461538 41.2623377,34.4 C41.3844156,34.0923077 41.2012987,33.7230769 40.8350649,33.6615385 L38.4545455,32.9230769 L38.8207792,31.6923077 C38.8207792,31.6923077 38.8818182,31.6923077 38.8818182,31.6923077 C39.8584416,31.6923077 40.8350649,31.0153846 41.1402597,30.0307692 C41.5064935,28.8 40.8350649,27.5076923 39.5532468,27.1384615 C38.9428571,26.9538462 38.3324675,27.0153846 37.7831169,27.3230769 C37.2337662,27.6307692 36.8064935,28.1230769 36.6844156,28.7384615 C36.5012987,29.3538462 36.5623377,29.9692308 36.8675325,30.5230769 C37.0506494,30.8923077 37.3558442,31.2 37.661039,31.3846154 L37.2948052,32.6769231 L34.9753247,32 C34.6701299,31.8769231 34.3038961,32.0615385 34.2428571,32.4307692 C34.1207792,32.7384615 34.3038961,33.1076923 34.6701299,33.1692308 L36.9896104,33.8461538 L33.5103896,45.5384615 C30.7025974,44.4307692 29.0545455,41.4769231 29.4818182,38.4615385 L29.5428571,38.5230769 C29.6649351,38.7076923 29.8480519,38.8307692 30.0922078,38.8307692 C30.2142857,38.8307692 30.2753247,38.8307692 30.3974026,38.7692308 C30.7025974,38.5846154 30.8246753,38.2153846 30.6415584,37.9076923 L29.8480519,36.4307692 C29.787013,36.3076923 29.6649351,36.1846154 29.4818182,36.1230769 C29.2987013,36.0615385 29.1766234,36.1230769 28.9935065,36.1846154 L27.4675325,36.9230769 C27.1623377,37.1076923 27.0402597,37.4769231 27.2233766,37.7846154 C27.4064935,38.0923077 27.7727273,38.2153846 28.0779221,38.0307692 L28.3220779,37.9076923 C28.0168831,39.6923077 28.261039,41.4769231 29.1155844,43.0769231 C29.9090909,44.5538462 31.1298701,45.6615385 32.5948052,46.4 L11.5363636,46.4 L11.5363636,42.7076923 C12.574026,42.7076923 14.5272727,42.4615385 15.9311688,41.2307692 C15.9922078,41.1692308 15.9922078,41.1692308 16.0532468,41.1076923 C16.0532468,41.1076923 16.1142857,41.0461538 16.1142857,41.0461538 C16.7857143,40.3692308 17.212987,39.4461538 17.3350649,38.4 C17.7623377,38.5230769 18.3116883,38.6461538 18.9831169,38.6461538 C20.0207792,38.6461538 21.3025974,38.3384615 22.4623377,37.2923077 C22.7064935,37.0461538 22.7064935,36.6769231 22.5233766,36.4307692 C22.2792208,36.1846154 21.912987,36.1230769 21.6688312,36.3692308 C20.0207792,37.8461538 18.1896104,37.4153846 17.3961039,37.1692308 C17.7012987,32.9846154 22.7064935,31.8769231 22.8896104,31.8153846 C23.1948052,31.7538462 23.438961,31.4461538 23.3779221,31.0769231 C23.3168831,30.7692308 23.0116883,30.5230769 22.6454545,30.5846154 C22.5844156,30.5846154 20.9974026,30.9538462 19.4103896,31.9384615 C17.274026,33.2923077 16.1142857,35.2 16.1142857,37.4769231 C16.1142857,37.4769231 16.1142857,37.4769231 16.1142857,37.4769231 C16.1142857,37.4769231 16.1142857,37.4769231 16.1142857,37.5384615 C16.1142857,38.4615385 15.8701299,39.2 15.5038961,39.8153846 C14.6493506,39.1384615 12.6350649,37.3538462 12.6350649,34.2153846 C12.6350649,33.9076923 12.6350649,33.6 12.574026,33.3538462 C13.8558442,32.9846154 15.687013,31.9384615 15.8090909,29.5384615 C15.8090909,29.1692308 15.5649351,28.9230769 15.2597403,28.8615385 C14.8935065,28.8615385 14.6493506,29.1076923 14.5883117,29.4153846 C14.4662338,31.1384615 13.1844156,31.8153846 12.3909091,32.0615385 C12.2077922,31.0153846 11.8415584,30.2153846 11.4753247,29.6 C11.5974026,29.2307692 12.512987,26.4 15.2597403,25.9692308 C16.2974026,25.7846154 17.0909091,25.3538462 17.5792208,24.5538462 C18.5558442,22.9538462 17.8844156,20.7384615 17.8233766,20.6153846 C17.7012987,20.3076923 17.3961039,20.1230769 17.0298701,20.2461538 C16.7246753,20.3692308 16.5415584,20.6769231 16.6636364,21.0461538 C16.6636364,21.0461538 17.212987,22.8923077 16.5415584,23.9384615 C16.2363636,24.4307692 15.8090909,24.6769231 15.0766234,24.8 C12.3909091,25.2307692 11.1090909,27.3230769 10.5597403,28.5538462 C10.1935065,28.2461538 9.94935065,28.1230769 9.94935065,28.0615385 C9.64415584,27.9384615 9.27792208,28 9.15584416,28.3076923 C8.97272727,28.6153846 9.09480519,28.9846154 9.4,29.1076923 C9.46103896,29.1692308 10.925974,29.9692308 11.2922078,32.8615385 C11.2922078,32.8615385 11.2922078,32.8615385 11.2922078,32.8615385 C11.2922078,32.8615385 11.2922078,32.8615385 11.2922078,32.8615385 C11.3532468,33.2307692 11.3532468,33.7230769 11.3532468,34.1538462 C11.3532468,37.6615385 13.4285714,39.7538462 14.5272727,40.6153846 C13.2454545,41.4153846 11.4753247,41.4153846 11.0480519,41.4153846 C10.2545455,40.9230769 5.7987013,37.8461538 7.50779221,32.3076923 C8.24025974,29.9692308 8.17922078,27.9384615 7.32467532,26.2769231 C6.22597403,24.1230769 4.15064935,23.5076923 4.02857143,23.4461538 C3.72337662,23.3230769 3.35714286,23.5076923 3.2961039,23.8769231 C3.23506494,24.2461538 3.35714286,24.5538462 3.72337662,24.6153846 C3.72337662,24.6153846 5.37142857,25.1076923 6.28701299,26.8307692 C6.83636364,27.8769231 6.95844156,29.1692308 6.71428571,30.6461538 C6.59220779,30.3384615 6.34805195,30.0923077 6.16493506,29.8461538 C5.43246753,29.1076923 4.45584416,28.7384615 3.17402597,28.7384615 C2.80779221,28.7384615 2.56363636,29.0461538 2.56363636,29.3538462 C2.56363636,29.7230769 2.80779221,29.9692308 3.17402597,29.9692308 C4.02857143,29.9076923 4.76103896,30.2153846 5.24935065,30.7076923 C6.16493506,31.6307692 6.1038961,33.1692308 6.04285714,33.2923077 C5.67662338,35.3230769 6.1038961,37.1076923 6.83636364,38.4615385 C6.04285714,38.7076923 3.78441558,39.3230769 2.5025974,37.6 C2.31948052,37.3538462 1.89220779,37.2923077 1.64805195,37.4769231 C1.4038961,37.6615385 1.34285714,38.0923077 1.52597403,38.3384615 C2.5025974,39.6307692 3.84545455,40 5.06623377,40 C5.98181818,40 6.8974026,39.7538462 7.50779221,39.5076923 C8.54545455,40.9846154 9.76623377,41.9076923 10.3155844,42.2769231 L10.3155844,46.2769231 L0.61038961,46.2769231 C0.244155844,46.2769231 0,46.5230769 0,46.8923077 C0,47.2615385 0.244155844,47.5076923 0.61038961,47.5076923 L45.8402597,47.5076923 C46.1454545,47.6307692 46.4506494,47.3230769 46.4506494,47.0153846 Z M37.8441558,28.9846154 C37.9051948,28.6769231 38.0883117,28.4923077 38.3935065,28.3076923 C38.5766234,28.2461538 38.7597403,28.1846154 38.9428571,28.1846154 C39.0649351,28.1846154 39.125974,28.1846154 39.2480519,28.2461538 C39.5532468,28.3076923 39.7363636,28.5538462 39.9194805,28.8 C40.0415584,29.0461538 40.1025974,29.3538462 39.9805195,29.6615385 C39.7974026,30.2769231 39.187013,30.5846154 38.5766234,30.4 C38.2714286,30.3384615 38.0883117,30.0923077 37.9051948,29.8461538 C37.7831169,29.6 37.7831169,29.2923077 37.8441558,28.9846154 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M4.33376623,4.55384615 C5.67662338,4.55384615 6.83636364,3.87692308 7.50779221,2.83076923 C8.17922078,3.87692308 9.33896104,4.55384615 10.6818182,4.55384615 C12.0246753,4.55384615 13.1844156,3.87692308 13.8558442,2.83076923 C14.5272727,3.87692308 15.687013,4.55384615 17.0298701,4.55384615 C18.3727273,4.55384615 19.5324675,3.87692308 20.2038961,2.83076923 C20.8753247,3.87692308 22.0350649,4.55384615 23.3779221,4.55384615 C24.7207792,4.55384615 25.8805195,3.87692308 26.5519481,2.83076923 C27.2233766,3.87692308 28.3831169,4.55384615 29.725974,4.55384615 C31.0688312,4.55384615 32.2285714,3.87692308 32.9,2.83076923 C33.5714286,3.87692308 34.7311688,4.55384615 36.074026,4.55384615 C37.4168831,4.55384615 38.5766234,3.87692308 39.2480519,2.83076923 C39.9194805,3.87692308 41.0792208,4.55384615 42.4220779,4.55384615 C44.4974026,4.55384615 46.2064935,2.83076923 46.2064935,0.738461538 C46.2064935,0.369230769 45.9623377,0.123076923 45.5961039,0.123076923 C45.2298701,0.123076923 44.9857143,0.369230769 44.9857143,0.738461538 C44.9857143,2.15384615 43.825974,3.32307692 42.4220779,3.32307692 C41.0181818,3.32307692 39.8584416,2.15384615 39.8584416,0.738461538 C39.8584416,0.369230769 39.6142857,0.123076923 39.2480519,0.123076923 C38.8818182,0.123076923 38.6376623,0.369230769 38.6376623,0.738461538 C38.6376623,2.15384615 37.4779221,3.32307692 36.074026,3.32307692 C34.6701299,3.32307692 33.5103896,2.15384615 33.5103896,0.738461538 C33.5103896,0.369230769 33.2662338,0.123076923 32.9,0.123076923 C32.5337662,0.123076923 32.2896104,0.369230769 32.2896104,0.738461538 C32.2896104,2.15384615 31.1298701,3.32307692 29.725974,3.32307692 C28.3220779,3.32307692 27.1623377,2.15384615 27.1623377,0.738461538 C27.1623377,0.369230769 26.9181818,0.123076923 26.5519481,0.123076923 C26.1857143,0.123076923 25.9415584,0.369230769 25.9415584,0.738461538 C25.9415584,2.15384615 24.7818182,3.32307692 23.3779221,3.32307692 C21.974026,3.32307692 20.8142857,2.15384615 20.8142857,0.738461538 C20.8142857,0.369230769 20.5701299,0.123076923 20.2038961,0.123076923 C19.8376623,0.123076923 19.5935065,0.369230769 19.5935065,0.738461538 C19.5935065,2.15384615 18.4337662,3.32307692 17.0298701,3.32307692 C15.625974,3.32307692 14.4662338,2.15384615 14.4662338,0.738461538 C14.4662338,0.369230769 14.2220779,0.123076923 13.8558442,0.123076923 C13.4896104,0.123076923 13.2454545,0.369230769 13.2454545,0.738461538 C13.2454545,2.15384615 12.0857143,3.32307692 10.6818182,3.32307692 C9.27792208,3.32307692 8.11818182,2.15384615 8.11818182,0.738461538 C8.11818182,0.369230769 7.87402597,0.123076923 7.50779221,0.123076923 C7.14155844,0.123076923 6.8974026,0.369230769 6.8974026,0.738461538 C6.8974026,2.15384615 5.73766234,3.32307692 4.33376623,3.32307692 C2.92987013,3.32307692 1.77012987,2.15384615 1.77012987,0.738461538 C1.77012987,0.369230769 1.52597403,0.123076923 1.15974026,0.123076923 C0.793506494,0.123076923 0.549350649,0.369230769 0.549350649,0.738461538 C0.549350649,2.89230769 2.25844156,4.55384615 4.33376623,4.55384615 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M23.6831169,20.0615385 C23.6831169,20.3692308 23.9272727,20.6153846 24.2324675,20.6769231 C24.3545455,20.6769231 24.4766234,20.6769231 24.5376623,20.6769231 C26.612987,20.6769231 27.8337662,18.5846154 28.4441558,17.1692308 C31.0077922,20.4923077 34.9142857,20.6769231 35.1584416,20.6769231 C35.1584416,20.6769231 35.1584416,20.6769231 35.2194805,20.6769231 C40.2857143,20.6769231 41.5675325,16.0615385 41.5675325,16 C41.5675325,15.8769231 41.5675325,15.7538462 41.5675325,15.6307692 C39.9194805,10.6461538 35.5857143,10.9538462 35.1584416,10.9538462 C34.7922078,10.9538462 30.9467532,11.2615385 28.5051948,14.4615385 C27.8948052,12.9846154 26.5519481,10.7076923 24.2935065,10.9538462 C23.9883117,11.0153846 23.7441558,11.2615385 23.7441558,11.5692308 C23.7441558,11.8769231 23.7441558,14.4 24.9038961,15.8153846 C23.6831169,17.2307692 23.6831169,19.7538462 23.6831169,20.0615385 Z M35.1584416,12.1846154 C35.1584416,12.1846154 35.2194805,12.1846154 35.2194805,12.1846154 C35.3415584,12.1846154 38.8207792,11.6923077 40.2857143,15.8153846 C40.0415584,16.5538462 38.8207792,19.4461538 35.1584416,19.4461538 C35.1584416,19.4461538 35.1584416,19.4461538 35.1584416,19.4461538 C35.0974026,19.4461538 31.1298701,19.2615385 28.9935065,15.8153846 C31.1298701,12.4307692 35.1584416,12.1846154 35.1584416,12.1846154 Z M26.0636364,15.3230769 C25.2701299,14.7076923 24.9649351,13.2307692 24.9038961,12.2461538 C26.4909091,12.6153846 27.4064935,15.1384615 27.6506494,15.8153846 C27.4675325,16.4923077 26.5519481,19.0153846 24.9038961,19.3846154 C24.9649351,18.4 25.2701299,16.8615385 26.0636364,16.3076923 C26.2467532,16.1846154 26.3077922,16 26.3077922,15.8153846 C26.3077922,15.6307692 26.2467532,15.4461538 26.0636364,15.3230769 Z' id='Shape'%3E%3C/path%3E %3Cellipse id='Oval' cx='37.6' cy='15.8153846' rx='1' ry='1'%3E%3C/ellipse%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    }
    .icons-container > div > div {
        /*background-size: cover;*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 10%;
        -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    }
    .subtitle {
        margin-top: 8px;
    }
</style>
