<template>
    <div class="range">
        <div class="icons-container">
            <div class="icony"
                 v-for="(quantity, index) in quantities"
                 :class="[quantity.class, {active: index <= getQuantity.id}]"
                 @click="setQuantity(quantity)"
            >
            </div>
        </div>
        <div class="range-container">
            <input ref="ranger" type="range" min="0" max="4" v-model="quantityComp">
        </div>
        <div class="message-container">
            <p v-for="quantity in quantities" v-show="quantity.id == getQuantity.id">{{quantity.text}}</p>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'Range',
  data() {
    return {
    }
  },
  computed: {
    quantityComp: {
        get() {
            return this.getQuantity.id
        },
        set(val) {
            this.setQuantity(this.quantities[val])
        }
    },
    ...mapGetters({
        getQuantity: 'getQuantitySelected',
        quantities: 'getQuantities'
    })
  },
  methods: {
    ...mapActions({
        setQuantity: 'setQuantity'
    })
  },
  watch: {
    getQuantity(val) {
      var min = this.$refs.ranger.min
      var max = this.$refs.ranger.max
      this.$refs.ranger.style.backgroundSize = (val.id - min) * 100 / (max - min) + "% 100%"
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.range {
    margin: 0 auto;
    width: 100%;
}
.range-container {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-container {
    display: flex;
    justify-content: space-between;
}
input[type=range] {
  margin: auto;
  outline: none;
  padding: 0;
  width: 100%;
  height: 4px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FA6E5F), color-stop(100%, #087af5));
  background-image: -webkit-linear-gradient(#FA6E5F, #FA6E5F);
  background-image: -moz-linear-gradient(#FA6E5F, #FA6E5F);
  background-image: -o-linear-gradient(#FA6E5F, #FA6E5F);
  background-image: linear-gradient(#FA6E5F, #FA6E5F);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  /* track */
  /* thumb */ }
  input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none; }
  input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent; }
  input[type=range]::-moz-focus-outer {
    border: 0; }
  input[type=range]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border: 0;
    background: white;
    border-radius: 100%;
    box-shadow: 0 1px 2px 0px #000;
    -webkit-appearance: none;
    }
  input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border: 0;
    background: white;
    border-radius: 100%;
    box-shadow: 0 1px 2px 0px #000;
    }
  .icony {
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 40px;
    height: 30px;
    filter: grayscale(1);
    transition: all 0.4s ease;
  }
  .icony.active {
    filter: grayscale(0);
  }
  .icony.trucky {
    background-size: 30px;
    background-position: bottom right;
    background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='27px' height='19px' viewBox='0 0 27 19' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Enoun_441280_cc%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='App_Signaler-etape2' transform='translate(-292.000000, -364.000000)' fill='%23FA6E5F' fill-rule='nonzero'%3E %3Cg id='Group-24' transform='translate(0.000000, 163.000000)'%3E %3Cg id='Group-23' transform='translate(0.000000, 25.000000)'%3E %3Cg id='Group-22' transform='translate(24.000000, 20.000000)'%3E %3Cg id='Group-8' transform='translate(1.000000, 119.000000)'%3E %3Cg id='Group-16' transform='translate(35.000000, 35.000000)'%3E %3Cg id='noun_441280_cc' transform='translate(232.000000, 2.000000)'%3E %3Cpath d='M0.6615,13.2456719 L16.4166,13.2456719 C16.7844,13.2456719 17.0781,12.9547344 17.0781,12.5907656 L17.0781,1.9724375 C17.0781,0.905765625 16.1964,0.032953125 15.0939,0.032953125 L1.9845,0.032953125 C0.882,0.032953125 0,0.90546875 0,1.9724375 L0,12.5910625 C0,12.9547344 0.2937,13.2456719 0.6615,13.2456719 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M2.6703,13.8999844 L0.6615,13.8999844 C0.2937,13.8999844 0,14.1912188 0,14.5545938 L0,15.4271094 C0,16.1301094 0.5877,16.7119844 1.323,16.7119844 L1.7394,16.7119844 C1.8129,16.7119844 1.8618,16.6635938 1.8618,16.5908594 C1.8618,16.5908594 1.8618,16.5908594 1.8618,16.5668125 C1.8618,16.4940781 1.8618,16.4456875 1.8618,16.3726563 C1.8618,16.3002188 1.8618,16.2274844 1.8618,16.1787969 C1.8618,16.15475 1.8618,16.15475 1.8618,16.15475 C1.911,15.3549687 2.2293,14.6273281 2.7435,14.0697969 C2.8419,13.9727188 2.8173,13.8999844 2.6703,13.8999844 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M5.2671,13.7545156 C3.822,13.7545156 2.6457,14.9182656 2.6457,16.3726563 C2.6457,17.803 3.8217,18.9670469 5.2671,18.9670469 C6.7125,18.9670469 7.8885,17.803 7.8885,16.3726563 C7.8885,14.9182656 6.7125,13.7545156 5.2671,13.7545156 Z M5.2671,17.3668906 C4.7037,17.3668906 4.2627,16.9061406 4.2627,16.3726562 C4.2627,15.8154219 4.7037,15.3787187 5.2671,15.3787187 C5.8305,15.3787187 6.2718,15.8154219 6.2718,16.3726562 C6.2718,16.9061406 5.8308,17.3668906 5.2671,17.3668906 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M22.1493,13.7545156 C20.7039,13.7545156 19.5282,14.9182656 19.5282,16.3726563 C19.5282,17.803 20.7039,18.9670469 22.1493,18.9670469 C23.5947,18.9670469 24.7707,17.803 24.7707,16.3726563 C24.7707,14.9182656 23.5947,13.7545156 22.1493,13.7545156 Z M22.1493,17.3668906 C21.5859,17.3668906 21.1446,16.9061406 21.1446,16.3726562 C21.1446,15.8154219 21.5859,15.3787187 22.1493,15.3787187 C22.7127,15.3787187 23.154,15.8154219 23.154,16.3726562 C23.154,16.9061406 22.7127,17.3668906 22.1493,17.3668906 Z' id='Shape'%3E%3C/path%3E %3Cpath d='M26.559,13.9243281 L26.559,10.6284219 C26.559,10.2887969 26.3874,9.75590625 26.1669,9.46467188 L22.4676,4.49498438 C22.2471,4.20404688 21.7818,3.98584375 21.414,3.98584375 L19.0623,3.98584375 C18.3273,3.98584375 17.7393,4.56742188 17.7393,5.27071875 L17.7393,13.5122656 C17.7393,13.7304688 17.568,13.9002813 17.3472,13.9002813 L7.8639,13.9002813 C7.7169,13.9002813 7.6926,13.9730156 7.7904,14.0697969 C8.3046,14.627625 8.6232,15.3549688 8.6721,16.15475 C8.6721,16.15475 8.6721,16.15475 8.6721,16.1787969 C8.6967,16.2274844 8.6967,16.3002188 8.6967,16.3726563 C8.6967,16.4456875 8.6967,16.4940781 8.6721,16.5668125 L8.6721,16.5908594 C8.6721,16.6635938 8.7213,16.7119844 8.7948,16.7119844 L18.621,16.7119844 C18.6945,16.7119844 18.7434,16.6635938 18.7434,16.5908594 C18.7191,16.518125 18.7191,16.4456875 18.7191,16.3726563 C18.7191,14.5059063 20.2626,12.9784844 22.149,12.9784844 C24.0354,12.9784844 25.5789,14.5059063 25.5789,16.3726563 C25.5789,16.4456875 25.5546,16.518125 25.5546,16.5908594 C25.5546,16.6635938 25.6035,16.7119844 25.6767,16.7119844 C26.412,16.7119844 26.9997,16.1301094 26.9997,15.4271094 L26.9997,14.5545938 C27,14.2636563 26.8044,14.0211094 26.559,13.9243281 Z M23.8398,9.82834375 C23.8398,10.04625 23.6685,10.2163594 23.4477,10.2163594 L19.8708,10.2163594 C19.6503,10.2163594 19.4787,10.0465469 19.4787,9.82834375 L19.4787,6.09484375 C19.4787,5.87664063 19.65,5.707125 19.8708,5.707125 L20.802,5.707125 C21.0225,5.707125 21.2919,5.82825 21.4143,6.02240625 L23.6196,8.93178125 C23.7417,9.10159375 23.8398,9.39223438 23.8398,9.538 L23.8398,9.82834375 Z' id='Shape'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
  }
  .icony.caddy {
    background-size: 24px;
    background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='21px' height='21px' viewBox='0 0 21 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EShape%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='App_Signaler-etape2' transform='translate(-176.000000, -362.000000)' fill='%23FA6E5F' fill-rule='nonzero'%3E %3Cg id='Group-24' transform='translate(0.000000, 163.000000)'%3E %3Cg id='Group-23' transform='translate(0.000000, 25.000000)'%3E %3Cg id='Group-22' transform='translate(24.000000, 20.000000)'%3E %3Cg id='Group-8' transform='translate(1.000000, 119.000000)'%3E %3Cg id='Group-16' transform='translate(35.000000, 35.000000)'%3E %3Cg id='noun_364974_cc'%3E %3Cpath d='M135.581333,2.80361538 C136.4967,2.80361538 136.923233,3.34592308 136.923233,4.00938462 L136.923233,9.64638462 C136.923233,10.2791538 136.4358,10.7919231 135.794833,10.8519231 L123.481367,12.2086154 C122.475467,12.3288462 122.354133,13.6253077 123.542267,13.6253077 L135.9892,13.6253077 C137.3297,13.6253077 137.3297,15.5854615 135.9892,15.5854615 L123.2989,15.5854615 C120.616733,15.5854615 119.610833,12.6616154 121.714333,11.1233077 L122.780667,10.3396154 L119.000667,2.17107692 L117.0745,2.17107692 C115.641833,2.17107692 115.641833,0 117.0745,0 L119.305867,0 C120.402067,0 120.707267,0.512769231 121.043267,1.29646154 L121.806033,2.80384615 L135.581333,2.80384615 L135.581333,2.80361538 Z M124.0794,18.9004615 C124.0794,19.9257692 123.255967,20.7699231 122.158367,20.7699231 C121.122833,20.7699231 120.268133,19.926 120.268133,18.9004615 C120.268133,17.8460769 121.122833,17.0019231 122.158367,17.0019231 C123.255733,17.0019231 124.0794,17.8458462 124.0794,18.9004615 Z M123.542267,6.54092308 L126.620167,6.54092308 L125.9505,4.49146154 L122.597033,4.49146154 L123.542267,6.54092308 Z M127.687667,10.0684615 L126.895267,7.62623077 L123.9996,7.62623077 L125.2484,10.3098462 L127.687667,10.0684615 Z M127.047633,4.49146154 L127.687667,6.54092308 L130.705367,6.54092308 L130.217467,4.49146154 L127.047633,4.49146154 Z M131.497533,9.67592308 L130.888533,7.62646154 L127.9917,7.62646154 L128.754467,9.94823077 L131.497533,9.67592308 Z M135.246733,4.49146154 L131.3153,4.49146154 L131.7717,6.54092308 L135.246733,6.54092308 L135.246733,4.49146154 Z M136.971767,18.9004615 C136.971767,19.9257692 136.148333,20.7699231 135.081767,20.7699231 C134.014967,20.7699231 133.161667,19.926 133.161667,18.9004615 C133.161667,17.8460769 134.014967,17.0019231 135.081767,17.0019231 C136.148333,17.0019231 136.971767,17.8458462 136.971767,18.9004615 Z M135.246733,7.62623077 L132.016,7.62623077 L132.503433,9.52615385 L135.246733,9.25384615 L135.246733,7.62623077 Z' id='Shape'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
  }
  .icony.baggy {
    background-size: 22px;
    background-position: bottom left;
    background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='18px' height='21px' viewBox='0 0 18 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3EShape%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='App_Signaler-etape2' transform='translate(-60.000000, -362.000000)' fill='%23FA6E5F' fill-rule='nonzero'%3E %3Cg id='Group-24' transform='translate(0.000000, 163.000000)'%3E %3Cg id='Group-23' transform='translate(0.000000, 25.000000)'%3E %3Cg id='Group-22' transform='translate(24.000000, 20.000000)'%3E %3Cg id='Group-8' transform='translate(1.000000, 119.000000)'%3E %3Cg id='Group-16' transform='translate(35.000000, 35.000000)'%3E %3Cg id='noun_364974_cc'%3E %3Cg id='noun_199035_cc'%3E %3Cpath d='M17.7645133,19.4493899 C17.5620119,19.285957 17.3820106,19.0991765 17.2695098,18.8657009 C17.1795091,18.6555728 17.1570089,18.3987496 17.1345088,18.165274 C16.9995078,15.7838225 16.8645068,13.4257186 16.752006,11.0442671 C16.6845055,9.66676091 16.5945049,8.28925467 16.3470031,6.935096 C16.189502,6.16462641 15.9870005,5.41750438 15.5369972,4.78712017 C14.6594909,3.54969931 12.1169726,3.12944317 10.1594584,2.96601023 C10.1819586,2.94266267 10.2044588,2.94266267 10.2269589,2.9193151 C10.4069602,2.80257729 10.6094617,2.59244922 10.519461,2.40566871 C10.4294604,2.24223577 10.1594584,2.14884551 10.2719592,2.00876013 C10.8344633,1.75193694 11.3744672,1.49511374 11.9369713,1.26163811 C11.9594714,1.21494298 12.0269719,1.19159542 12.0269719,1.14490029 C12.0269719,1.09820516 12.0044717,1.0748576 11.9819716,1.02816247 C11.7119696,0.607906334 11.3744672,0.164302631 10.9019638,0.187650194 C10.3169596,0.210997758 9.91195664,0.958119784 9.32695242,1.00481491 C9.32695242,0.981467348 9.34945258,0.934772221 9.34945258,0.911424658 C9.46195339,0.374430701 8.98944998,-0.115868129 8.49444641,0.024217251 C8.49444641,0.024217251 8.49444641,0.024217251 8.47194625,0.024217251 C8.08944349,0.117607504 7.75194105,0.467820954 7.77444121,0.888077094 C7.4819391,0.794686841 7.18943699,0.701296588 6.87443472,0.631253898 C6.46943179,0.537863644 6.13192936,0.934772221 6.24443017,1.3316808 C6.33443082,1.65854668 6.49193195,1.93871744 6.71693358,2.14884551 C6.98693553,2.42901627 7.27943764,2.68583947 7.54943959,2.96601023 C5.65942594,3.15279074 3.31940905,3.57304688 2.46440288,4.78712017 C2.01439963,5.41750438 1.81189817,6.18797397 1.65439704,6.935096 C1.38439509,8.28925467 1.3168946,9.66676091 1.24939411,11.0442671 C1.11439314,13.4257186 0.979392163,15.7838225 0.866891351,18.165274 C0.844391188,18.3987496 0.844391188,18.6555728 0.731890376,18.8657009 C0.619389564,19.0991765 0.439388265,19.2626094 0.236886803,19.4493899 C-0.16811612,19.7996034 -0.0331151458,20.4766827 0.48438859,20.6167681 C0.844391188,20.7101584 1.24939411,20.7568535 1.63189687,20.7568535 C3.56691084,20.8268962 5.52442497,20.8969389 7.45943894,20.9669816 C7.97694267,20.9903291 8.47194625,21.0136767 8.98944998,20.9903291 C9.50695372,20.9903291 10.0019573,20.9669816 10.519461,20.9669816 C12.454475,20.8969389 14.4119891,20.8268962 16.3470031,20.7568535 C16.7295059,20.7335059 17.1120086,20.7101584 17.4945114,20.6167681 C18.0345153,20.4766827 18.1695162,19.7996034 17.7645133,19.4493899 Z M4.62441847,6.37475448 C4.15191506,5.39415682 7.43693878,3.47965662 7.43693878,3.47965662 C7.43693878,3.47965662 5.09692188,7.3786997 4.62441847,6.37475448 Z M9.01195014,7.91569366 C7.99944284,7.56548021 9.01195014,3.78317495 9.01195014,3.78317495 C9.01195014,3.78317495 10.0244575,8.26590711 9.01195014,7.91569366 Z M13.1744802,6.37475448 C12.7019768,7.3786997 10.3619599,3.47965662 10.3619599,3.47965662 C10.3619599,3.47965662 13.6694838,5.39415682 13.1744802,6.37475448 Z' id='Shape'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
  }
  .message-container p {
    font-size: 0.7rem;
    text-align: center;
    width: 100%;
    margin-top: 0;
    font-style: italic
  }
</style>
