<template>
    <div>
        <p>Déplace le symbole <img src="./../../../assets/zone.svg"> à l'endroit où tu as trouvé les
            déchets, ou saisis l'adresse de ton choix.
        </p>

        <div style="margin-bottom: 18px">
            <label class="address-container">
                <gmap-autocomplete
                        ref="address"
                        @focus.native="focusIn"
                        @blur.native="focusOut"
                        @place_changed="setPlace"
                />
            </label>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'Step-1',
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters({
      getCurrentPlace: 'getCurrentPlace'
    })
  },
  methods: {
    focusIn() {
      this.$parent.bigger = true
    },
    focusOut() {
      this.$parent.bigger = false
    },
    ...mapActions({
      setCurrentPlace: 'setCurrentPlace',
      setCenter: 'setCenter',
      setNewMarker: 'setNewMarker'
    }),
    // receives a place object via the autocomplete component
    setPlace(place) {
      this.currentPlace = place;
      const marker = {};
      marker.position = {
        lat: this.currentPlace.geometry.location.lat(),
        lng: this.currentPlace.geometry.location.lng()
      };
      this.setNewMarker(marker);
      this.setCenter(marker.position);
      this.setCurrentPlace(place);
    },
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .address-container {
        display: flex;
        position: relative;
        width: 100%;
    }
    .address-container input {
        font-size: 16px;
        height: 23px;
        width: 100%;
        outline: none;
        -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    }
    .higher {
        height: 500px;
    }
    p {
        font-size: 0.8rem;
    }
    /*.step-container {
        transition: all 0.4s ease;
        padding: 11px 18px;
        height: auto;
        min-height: 100px;
        box-sizing: border-box;
    }
    .step-container.bigger {
        min-height: 200px;
    }*/
</style>
