<template>
    <div>
        <div class="subContainer">
            <h3>Adresse</h3>
            <p v-if="currentPlace"><img src="../../../assets/lieu.svg">{{currentPlace.formatted_address}}</p>
        </div>

        <div class="subContainer">
            <h3>Type de lieu:</h3>
            <div class="zoneContainer">
                <div class="iconSelected active" :class="[zone.class]"></div>
                <p>{{zone.name}}</p>
            </div>
        </div>

        <div class="subContainer">
            <h3>Quantitée de Déchets</h3>
            <div v-if="quantity" class="zoneContainer">
                <div class="icony" :class="quantity.class"></div>
                <p>{{quantity.text}}</p>
            </div>
        </div>

        <div class="subContainer">
            <h3 class="no-margin">Type de déchets:</h3>
            <div class="tags-container">
                <tag v-for="tag in tags" :type="tag" class="active"/>
            </div>
        </div>

        <div class="subContainer">
            <h3>Photo de votre lieu</h3>
            <div class="picture-container" :style="{'background-image': 'url('+ picPath +')'}"></div>
        </div>
    </div>
</template>

<script>
import Tag from './Tag'
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'Step2',
  data() {
    return {
        picPath: 'coucou'
    }
  },
  computed: {
    ...mapGetters({
        getPic: 'getPic',
        marker: 'getNewMarker',
        currentPlace: 'getCurrentPlace',
        zone: 'getZoneSelected',
        quantity: 'getQuantitySelected',
        tags: 'getTypesSelected'
    })
  },
  watch: {
    getPic(val) {
      if (val) {
        var reader = new FileReader();
        var self = this
        reader.onload = function(e) {
          self.picPath = e.target.result
        }
        reader.readAsDataURL(val);
      }
      var geocoder = new google.maps.Geocoder;
      this.reverseGeoloc({geocoder: geocoder, latlng: this.marker.position})
    }
  },
  components: {
    Tag
  },
  methods: {
    ...mapActions({
        reverseGeoloc: 'reverseGeoloc'
    })
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    p {
        font-size: 0.8rem;
    }
    .tags-container {
        display: flex;
        flex-wrap: wrap;
    }
    .tag {
        margin-right: 8px;
        margin-top: 8px;
        display: inline-flex;
        border-radius: 20px;
        padding: 8px 12px;
        font-size: 0.7rem;
        -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    }
    .tag.active {
        color: #fff;
        background-color: #FA6E5F;
    }
    .sub-step-container {
        margin-bottom: 2rem;
    }
    .picture-container {
        display: flex;
        height: 100px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /*transform: scale(1.3);*/
        margin: 18px 0;
    }
    h3 {
        font-size: 0.9rem;
        text-align: left;
        margin-bottom: 8px;
    }
    p {
        margin-top: 0px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }
    p img {
        margin-right: 8px;
    }
    .zoneContainer {
        display: flex;
        align-items: center;
    }
    .iconSelected {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        width: 10px;
        height: 10px;
        padding: 5px;
        border-radius: 10%;
        -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        margin-right: 8px;
    }
    .subContainer {
        margin-bottom: 30px;
    }
    .icony {
        width: 25px;
        margin-right: 8px;
    }
    .no-margin {
        margin: 0;
    }
</style>
