<template>
    <div>
        <div class="sub-step-container">
            <p>Choisis le type de lieu qui correspond à la zone:</p>
            <place-types/>
        </div>
        <div class="sub-step-container">
            <p>Glisse le curseur pour indiquer la quantité de déchets:</p>
            <range/>
        </div>
        <div class="sub-step-container">
            <p>Si tu peux, indiques-nous le type de déchets</p>
            <div class="tags-container">
                <tag v-for="type in types" :type="type" @click.native="addType(type)" :class="{active: getTypesSelected.indexOf(type) !== -1}"/>
            </div>
        </div>
    </div>
</template>

<script>
import PlaceTypes from './PlaceTypes'
import Range from './Range'
import Tag from './Tag'
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'Step2',
  data() {
    return {
        types: [
            'Plastique',
            'Metal',
            'Materiel Electronique',
            'Verre',
            'Papier/Bois',
            'Ordures ménagères',
            'Pneus',
            'Meubles',
            'Déchets organiques',
            'Autres'
        ]
    }
  },
  computed: {
    ...mapGetters({
        getTypesSelected: 'getTypesSelected'
    })
  },
  methods: {
    ...mapActions({
        addType: 'addType'
    })
  },
  components: {
    Range,
    PlaceTypes,
    Tag
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    p {
        font-size: 0.8rem;
        text-align: left;
    }
    .tags-container {
        display: flex;
        flex-wrap: wrap;
    }
    .sub-step-container {
        margin-bottom: 2rem;
    }
</style>
