<template>
    <div class="tag">
        {{type}}
    </div>
</template>

<script>
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'Step2',
  data() {
    return {
    }
  },
  props: ['type'],
  computed: {
    ...mapGetters({
        getTypesSelected: 'getTypesSelected'
    })
  },
  methods: {
    ...mapActions({
        addType: 'addType'
    })
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .tag {
        margin-right: 8px;
        margin-top: 8px;
        display: inline-flex;
        border-radius: 20px;
        padding: 8px 12px;
        font-size: 0.7rem;
        -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        align-items: center;
    }
    .tag.active {
        color: #fff;
        background-color: #FA6E5F;
    }
</style>
