<template>
  <div class="menu" :class="{hide: signaling, opened: menuOpened}" @click="setMenuOpened()">
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="label" :class="{menuOpened: menuOpened}">Menu</div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'Burger',
  data() {
    return {
    }
  },
  methods: {
    ...mapActions({
      setMenuOpened: 'setMenuOpened'
    })
  },
  computed: {
    ...mapGetters({
      signaling: 'getSignaling',
      menuOpened: 'getMenuOpened'
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .menu {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 1);
    margin: 18px 8px;
    padding: 8px;
    z-index: 10;
    border-radius: 3px;
    transition: 0.4s all ease;
    left: 0;
  }
  .menu.opened {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    left: 81%;
  }
  .menu .burger > span {
    transition: 0.4s all ease;
  }
  .burger {
    width: 24px;
    height: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .menu.opened .burger > span {
    background-color: #fff;
    position: relative;
  }
  .menu .burger > span:first-child {
    top: 0;
  }
  .menu .burger > span:last-child {
    bottom: 0;
  }
  .menu.opened .burger > span:first-child {
    top: 8px;
    transform: rotate(137deg);
  }
  .menu.opened .burger > span:nth-child(2) {
    opacity: 0;
  }
  .menu.opened .burger > span:last-child {
    bottom: 8px;
    transform: rotate(230deg);
  }
  .menu.hide {
    opacity: 0;
  }
  .burger > span {
    /* background-color: #4A4A4A; */
    background-color: #FA6E5F;
    height: 3px;
    width: 100%;
    z-index: 30;
    border-radius: 4px;
  }
  .label {
    font-family: 'PT Sans', sans-serif;
    z-index: 100;
    /* color: #4A4A4A; */
    font-size: 0.8rem;
    color: #FA6E5F;
    font-weight: bold;
    margin-left: 8px;
    overflow: hidden;
    transition: 0.4s all ease;
    width: auto;
    max-width: 200px
  }
  .label.menuOpened {
    max-width: 0;
    margin: 0;
  }
  #app header.blue .menu {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
  #app header.blue .menu .burger span {
    background-color: #fff;
  }
  #app header.blue .menu .label {
    color: #fff;
  }
</style>
