<template>
  <div class="user">
    User Page
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'User',
  data() {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
