<template>
  <div class="heading">
    <div>
      <div class="fish">
        <div></div>
      </div>
      <div class="user-infos">
        <span>Guillaume D</span>
        <span>Super Keeper</span>
      </div>
    </div>
    <a href="#" class="see-profile">See profile</a>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'SideNav',
  data() {
    return {
    }
  },
  methods: {
    ...mapActions({
      setMenuOpened: 'setMenuOpened'
    })
  },
  computed: {
    ...mapGetters({
      menuOpened: 'getMenuOpened'
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .heading {
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    background-color: #2D2373;
    color: #fff;
    width: 100%;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
  }
  .heading > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .heading > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 6px;

  }
  .heading .fish {
    justify-content: flex-end;
  }
  .fish > div {
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 51.02 20.45'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EFichier 57%3C/title%3E%3Cg id='Calque_2' data-name='Calque 2'%3E%3Cg id='Calque_1-2' data-name='Calque 1'%3E%3Cpath class='cls-1' d='M50.76,9.82c-1-3.45-5.54-6.24-11.43-7.21-3.78-3.18-4.77-2.24-5-1.16-4.31-2.72-4.76-1-4.67.17-6.24-4.05-4.8.79-4.8.79l.25,1.24a60.45,60.45,0,0,0-13,5.56c-1-2.24-3.39-5.36-9-4.76,0,0-9.39,1.93,4.44,6.89h0c-13.83,4.95-4.44,6.89-4.44,6.89,5.62.59,8-2.52,9-4.75a66.85,66.85,0,0,0,8.12,3.88L18.77,19s-.36,3.18,6.46.1a29.75,29.75,0,0,0,8.69,1.38v0l.8,0c6.38,0,11.87-2.05,14.54-5a6.16,6.16,0,0,1-2.48.58,4.29,4.29,0,0,1-.79-.07,5.11,5.11,0,0,1-3.5-2.67.46.46,0,0,1,.16-.63.44.44,0,0,1,.62.16A4.3,4.3,0,0,0,46.15,15a6,6,0,0,0,4.18-1.3l.12-.07A4.93,4.93,0,0,0,50.76,9.82Zm-7.88.6A1.82,1.82,0,1,1,44.71,8.6,1.83,1.83,0,0,1,42.88,10.42Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2387C3;
    background-size: 50px;
    width: 68px;
    height: 68px;
    border-radius: 100%;
  }
  .fish img {
    width: 80px;
    background-color: #2387C3;
    padding: 18px;
    border-radius: 100%;
  }
  .heading .user-infos {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9rem;
  }
  .user-infos > span {
    display: flex;
  }
  .user-infos > span:first-child {
    font-weight: bold
  }
  .see-profile {
    color: #fff;
  }
</style>
