<template>
  <div class="sideNav" :class="{opened: menuOpened}">
    <heading></heading>
    <div class="wrapper">
      <div class="part">
        <div><p>Signaler des déchets</p><img src="../../assets/chevron.svg"></div>
        <div><p>Participer à une collecte</p><img src="../../assets/chevron.svg"></div>
        <div><p>Organiser une collecte</p><img src="../../assets/chevron.svg"></div>
        <div><p>Proposer des Kits</p><img src="../../assets/chevron.svg"></div>
        <div><p>Identifier une déchetterie</p><img src="../../assets/chevron.svg"></div>
      </div>
      <hr>
      <div class="part">
        <div><p>Faire un Don</p><img src="../../assets/chevron.svg"></div>
        <div><p>Devenir Bénévole</p><img src="../../assets/chevron.svg"></div>
      </div>
      <hr>
      <div class="part">
        <div><p>Signaler un bug</p><img src="../../assets/chevron.svg"></div>
        <div><p>Se Déconnecter</p><img src="../../assets/chevron.svg"></div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import Heading from './Heading'

export default {
  name: 'SideNav',
  data() {
    return {
    }
  },
  components: {
    Heading
  },
  methods: {
    ...mapActions({
      setMenuOpened: 'setMenuOpened'
    })
  },
  computed: {
    ...mapGetters({
      menuOpened: 'getMenuOpened'
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .sideNav {
    position: absolute;
    top: 0;
    left: -84%;
    min-height: 100px;
    width: 84%;
    height: 100%;
    background-color: #fff;
    z-index: 16;
    transition: 0.4s all ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sideNav.opened {
    left: 0;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    -webkit-flex: 1 1 auto;
    min-height: 0px;
    width: 100%;
  }
  .main-options {
    display: flex;
    flex-direction: column;
  }
  .part {
    padding: 12px 0 12px 0;
    width: 80%;
  }
  .part > div {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
    color: #4A4A4A;
    display: flex;
    justify-content: space-between;
  }
  hr {
    display: flex;
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #b8b8b8
  }
</style>
