<template>
  <div class="collects">
    <div class="heading">
      <div class="filter">Filtrer</div>
      <div class="trier">Trier par: <input type="text" value="localisation"></div>
    </div>
    <div class="main-container">
      <p>Clique sur une collecte pour en savoir plus:</p>
      <div class="collect" v-for="marker in markers" v-if="marker.infos.collect">
        <div class="content-container">
          <h4>Collecte à venir</h4>
          <div class="sub-container">
            <div><img src="../../assets/lieu_blue.svg"><p>{{marker.infos.address}}</p></div>
            <div><div class="icon" :class="[marker.infos.zone.class]"></div><p>{{marker.infos.zone.name}}</p></div>
            <div><img src="../../assets/calendar.svg"><p>18/12/2018</p></div>
          </div>
        </div>
        <div class="photo-container" :style="{'background-image': 'url(//'+ marker.infos.picture +')'}">
          <div>
            <img src="../../assets/comment_white.svg">
            <p>"Pensez à emmener du matos!"</p>
          </div>
          <div class="cta">Je participe</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'Collects',
  data() {
    return {
    }
  },
  methods: {
    ...mapActions({
      setCurrentTab: 'setCurrentTab'
    })
  },
  computed: {
    ...mapGetters({
      markers: 'getMarkers',
      menuOpened: 'getMenuOpened',
    })
  },
  mounted() {
    this.setCurrentTab(1)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .heading {
    width: 100%;
    height: 71px;
    background-color: #2D2373;
    color: #fff;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 18px;
    box-sizing: border-box;
    z-index: 14;
  }
  .main-container {
    padding: 18px;
  }
  .main-container {
    padding-top: 74px;
  }
  .collects {
    position: relative;
    transition: all 0.4s ease;
    left: 0;
  }
  .collects.opened {
    left: 80%;
  }
  .collect {
    display: flex;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    min-height: 150px;
    margin-bottom: 2.2rem;
  }
  .collect:last-child {
    margin-bottom: 3.5rem;
  }
  .collect h4 {
    margin: 0;
    margin-bottom: 12px;
  }
  .collect .content-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: flex-start;
    padding: 12px;
  }
  .collect .content-container p {
    margin: 4px 0;
    font-size: 0.8rem;
    text-align:left;
    margin-left: 4px;
  }
  .collect .photo-container {
    display: flex;
    flex-direction: column;
    width: 55%;
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .collect .photo-container > div {
    z-index: 10;
  }
  .collect .photo-container p {
    color: #fff;
    font-style: italic;
    font-size: 0.8rem;
  }
  .collect .photo-container .cta {
    position: absolute;
    bottom: -20px;
    background-color: #2D2373;
    font-weight: bold;
    padding: 8px 12px;
    display: inline-flex;
    border-radius: 30px;
    color: #fff;
  }
  .collect .photo-container:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .collect .photo-container p {
    margin: 0;
  }
  .collect .content-container .sub-container > div {
    display: flex;
  }
  .filter {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 4px 12px;
    color: #fff;
    font-size: 0.7rem;
    margin-right: 8px;
  }
  .trier {
    font-size: 0.7rem;
  }
  .trier input {
    padding: 4px;
    width: 93px;
    margin-left: 4px;
  }
  .icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;
    width: 17px;
    height: 17px;
    padding: 2px;
    border-radius: 10%;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
  }
</style>
