<template>
  <div class="tabBarr" v-show="!showMarker">
    <div class="icons">
      <router-link :to="{name: 'Collects'}" @click.native="setCurrentTab(1)">
        <img v-if="currentTab == 1" src="../assets/gan_selected.svg" style="width: 17px">
        <img v-else src="../assets/collectes-deselectionne.svg" style="width: 17px"><span>Collectes</span>
      </router-link>
      <router-link :to="{name: 'Map'}" @click.native="setCurrentTab(2)">
        <img v-if="currentTab == 2" src="../assets/pin-map.svg" style="width: 17px">
        <img v-else src="../assets/pin-map-deselectionne.svg" style="width: 16px"><span>Signaler</span>
      </router-link>
      <router-link :to="{name: 'User'}" @click.native="setCurrentTab(3)">
        <img v-if="currentTab == 3" src="../assets/profil.svg" style="width: 17px">
        <img v-else src="../assets/profil-deselectionne.svg"><span>profil</span>
      </router-link>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';

export default {
  name: 'TabBarr',
  data() {
    return {
      tabActive: 2
    }
  },
  methods: {
    ...mapActions({
      setCurrentTab: 'setCurrentTab'
    })
  },
  computed: {
    ...mapGetters({
      signaling: 'getSignaling',
      showMarker: 'showMarker',
      currentTab: 'currentTab'
    }),
    path() {
      var path = require.context('./../assets/', false, /\.svg$/);
      return path('./megaphone.svg');
    }
  },
  watch: {
    tabActive() {
      this.$parent.tabActive = this.tabActive
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .tabBarr {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    width: 100%;
    bottom:0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    transition: all 0.4s ease;
  }
  .tabBarr .icons {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
  .icons > a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    opacity: 1;
    transition: all 0.4s ease;
    text-decoration: none;
    padding: 8px;
    /*padding: 18px 0;*/
  }
  .icons > a > span {
    font-size: 0.8rem;
    color: #b8b8b8;
  }
  .icons>a>img {
    width: 20px;
    margin-right: 8px;
  }
  .icons>a.fadeOut {
    opacity: 0;
  }
  .router-link-exact-active {
    border-bottom: 3px solid #2D2373;
  }
  .tabBarr .router-link-exact-active span {
    color: #2D2373;
  }
</style>
