<template>
  <div id="app" :class="{signaling: signaling || showMarker, menuOpened: menuOpened}">
    <header :class="{blue: currentTab == 1}">
      <burger/>
    </header>
    <side-nav></side-nav>
    <main :class="{opened: menuOpened && currentTab == 1}">
      <router-view></router-view>
    </main>
    <tab-nav ref="tabNav"></tab-nav>
  </div>
</template>

<script>
import TabNav from './components/TabNav'
import Burger from './components/Burger/Burger'
import SideNav from './components/SideNav/SideNav'
import config from './config'
import axios from 'axios'
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'app',
  data() {
    return {
      tabActive: 2
    }
  },
  components: {
    TabNav,
    Burger,
    SideNav
  },
  sockets: {
    connect() {
      console.log('socket connected')
    },
    refreshMarkers() {
      this.getAllMarkers()
    }
  },
  computed: {
    ...mapGetters({
      signaling: 'getSignaling',
      menuOpened: 'getMenuOpened',
      showMarker: 'showMarker',
      currentTab: 'currentTab'
    })
  },
  methods: {
    ...mapActions({
      getAllMarkers: 'getAllMarkers',
      reset: 'reset'
    })
  },
  mounted () {
  },
  created () {
    axios.defaults.baseURL = config.baseUrl

    this.getAllMarkers()
    this.reset()
  }
}
</script>

<style>
html {
  font-size: 100%;
}
body {
  margin: 0;
}
#app {
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}
#app .vue-map-container {
  position: relative;
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  z-index: 15;
  display: flex;
}
 #app::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(60, 60, 60, 0.5);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 14;
    pointer-events: none;
 }
 #app.menuOpened::after {
    opacity: 1;
 }
 #app main {
  height: 100%;
 }
 header {
  display: flex;
  position: fixed;
  width: 100%;
 }
 main {
  position: relative;
  left: 0;
  transition: all 0.4s ease;
  width: 100%;
 }
 main.opened {
  position: fixed;
  left: 80%;
 }
</style>
