<template>
    <div>
        <gmap-map
            ref="mapRef"
            :center="center"
            :zoom="15"
            :options="{styles: mapStyle, disableDefaultUI : true}"
        >
            <gmap-info-window
                :options="infoOptions"
                :position="infoWindowPos"
                :opened="infoWinOpen"
                @closeclick="infoWinOpen=false"
            >
                {{infoContent}}
            </gmap-info-window>

            <gmap-marker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                :clickable="true"
                @click="setShowingMarker(m)"
                :icon="iconSet(m)"
            />

            <gmap-marker
                    v-if="getNewMarker"
                    :opacity="signaling ? 1 : 0"
                    :position="getNewMarker.position"
                    :draggable="true"
                    @dragend="setNewCenter($event)"
                    :zIndex="200"
                    :icon="icon"
            />
        </gmap-map>
    </div>
</template>

<script>
/* eslint disable */
import axios from 'axios';
import mapStyle from './../../mapStyle'
import {mapActions, mapGetters} from 'vuex'

export default {
  name: "GoogleMap",
  data() {
    return {
      infoContent: '',
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      mapStyle: {},
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
    };
  },
  computed: {
    ...mapGetters({
      markers: 'getMarkers',
      markerSelected: 'showMarker',
      center: 'getCenter',
      currentPlace: 'getCurrentPlace',
      signaling: 'getSignaling',
      getNewMarker: 'getNewMarker'
    }),
    icon() {
      var icon = {};
      var path = require.context('./../../assets/', false, /\.svg$/)
      icon.url = path('./zone.svg')
      icon.size = {width: 23, height: 23, f: 'px', b: 'px'}
      icon.scaledSize = {width: 23, height: 23, f: 'px', b: 'px'}
      return icon;
    }
  },
  watch: {
    signaling(val) {
      if (val) {
      }
    }
  },
  methods: {
    iconSet(marker) {
      var icon = {};
      var path = require.context('./../../assets/', false, /\.svg$/)
      if (!marker.infos.collect) {
        icon.url = path('./zone.svg')
      } else {
        icon.url = path('./gan_selected.svg')
      }
      icon.size = {width: 23, height: 23, f: 'px', b: 'px'}
      icon.scaledSize = {width: 23, height: 23, f: 'px', b: 'px'}
      return icon;
    },
    setNewCenter(event) {
      var marker = {}
      marker.position = {lat: event.latLng.lat(), lng: event.latLng.lng()}
      this.$refs.mapRef.$mapPromise.then((map) => {
        map.panTo(marker.position)
      })
      this.setNewMarker(marker)
    },
    ...mapActions({
      setCenter: 'setCenter',
      getAllMarkers: 'getAllMarkers',
      setNewMarker: 'setNewMarker',
      setShowingMarker: 'setShowingMarker'
    }),
    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoContent = marker.infoText
      // check if its the same marker that was selected if yes toggle
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen
      }
      // if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.setCenter({lat: position.coords.latitude,lng: position.coords.longitude})
        // this.reversedGeolocation(this.center)
        this.setNewMarker({position: this.center})
      });
    },
    reversedGeolocation(latlng) {
      var geocoder = new google.maps.Geocoder;
      geocoder.geocode({'location': latlng}, (results, status) => {
        if (status === 'OK') {
          if (results[1]) {
            this.currentPlace = results[1]
          } else {
            window.alert('No results found')
          }
        } else {
          window.alert('Geocoder failed due to: ' + status)
        }
      })
    }
  },
  mounted() {
    this.geolocate()
    this.mapStyle = mapStyle
  }
};

</script>

<style>
    a[href^='http://maps.google.com/maps']{display:none !important}
    a[href^='https://maps.google.com/maps']{display:none !important}

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display:none;
    }
    .gmnoprint div {
        background:none !important;
    }
    .address-container {
        position: relative;
        z-index: 10;
    }
    .address-container input {
        -webkit-appearance: none;
        border: none;
        padding: 8px;
    }
    #app.signaling .gm-style-pbc {
        opacity: 0.8!important;
    }
    .gmnoprint:last-child {
        opacity: 1!important;
    }
</style>