<template>
    <div class="indicator">
        <div class="line-container" :class="lineWidth"></div>
        <div class="dots-container">
            <div v-for="(step, index) in stepsIndicator" class="dot" :class="{active: index + 1 == currentStep}">
                <span></span>
                <p>{{step}}</p>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'Step-1',
  data() {
    return {
    }
  },
  computed: {
    lineWidth() {
        if (this.currentStep == 1) {
            return 'first'
        } else if (this.currentStep == 2) {
            return 'middle'
        } else {
            return 'end';
        }
    }
  },
  props: ['stepsIndicator', 'currentStep']
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .indicator {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .line-container {
        display: flex;
        width: 100%;
        height: 1px;
        background-color: #b8b8b8;
        position: absolute;
        top: 18px;
        z-index: 0;
        align-self: center;
        width: 70%;
    }
    .line-container:after {
        top: 0;
        left: 0;
        content: '';
        position: absolute;
        z-index: 2;
        height: 1px;
        background-color: #FA6E5F;
        transition: 0.4s all ease;
        width: 10%;
    }
    .line-container.first:after {
        width: 33%;
    }
    .line-container.middle:after {
        width: 50%;
    }
    .line-container.end:after {
        width: 99%;
    }
    .dots-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 90%;
        z-index: 10;
        padding: 8px;
    }
    .dot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .dot span {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dot p {
        font-family: 'PT Sans', sans-serif;
        font-size: 0.8rem;
        margin-top: 4px;
        transition: 0.4s all ease;
        margin-bottom: 0px;
    }
    .dot span:after {
        display: flex;
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #b8b8b8;
    }
    .dot.active span:after {
        background-color: #FA6E5F;
    }
    .dot.active p {
        font-weight: bold;
        font-size: 1rem;
    }
</style>
