<template>
    <div class="mapPage" :class="{opened: menuOpened}">
        <show-marker/>
        <google-map class="vue-map-surcontainer" :class="{cutHalf: signaling}"/>
        <div class="alert" @click="dispatcher()" v-show="!showMarker">
            <img src="../../assets/alarm.svg">
            <span>Signaler</span>
        </div>
        <!--<div class="fakePin" refs="fakePin"><img src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png"></div>-->
        <signaler :class="{opened: signaling}"/>
    </div>
</template>

<script>
import ShowMarker from './ShowMarker/ShowMarker'
import GoogleMap from './GoogleMap'
import Signaler from './Signaler.vue'
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'Map',
  data () {
    return {
    }
  },
  props: {
  },
  components: {
    GoogleMap,
    Signaler,
    ShowMarker
  },
  methods: {
    dispatcher () {
      this.setSignaling()
      this.$children[1].$refs.mapRef.$mapPromise.then((map) => {
        map.panTo({lat: this.center.lat, lng: this.center.lng})
      })
      this.setNewMarker({position: {lat: this.center.lat, lng: this.center.lng}})
    },
    ...mapActions({
      setSignaling: 'setSignaling',
      setNewMarker: 'setNewMarker'
    })
  },
  computed: {
    ...mapGetters({
      center: 'getCenter',
      signaling: 'getSignaling',
      menuOpened: 'getMenuOpened',
      showMarker: 'showMarker'
    })
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .mapPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    align-items: center;
  }
  .mapPage .alert {
    position: fixed;
    width: 11px;
    height: 11px;
    bottom: 90px;
    right: 20px;
    z-index: 14;
    padding: 25px;
    background-color: #FA6E5F;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
    box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
  }
  .alert span {
    font-size: 0.65rem;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }
  .alert img {
    width: 23px;
  }
  #app .vue-map-surcontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: 0.4s all ease;
  }
    #app .vue-map-surcontainer.cutHalf {
        height: 65%!important;
    }
  #app .mapPage.opened .vue-map-surcontainer{
    left: 80%;
  }
</style>
