<template>
    <div class="poppin">
        <div class="box">
            <div @click="$emit('closePoppin')">Fermer</div>
            <div class="content">
                <h3>Tu organises une collecte ?</h3>
                <p class="headline">Génial, dis-en nous plus:</p>
                <p><img src="../../assets/calendar_white.svg" style="margin-right: 8px">Selectionne une date</p>
                <p>Et un horaire</p>
            </div>
            <div class="confirm" @click="dispatcher()">Confirmer</div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'CommentsSection',
  data() {
    return {
        sectionHeight: 0
    }
  },
  computed: {
    ...mapGetters({
      marker: 'showMarker',
      getCurrentPlace: 'getCurrentPlace',
      getNewMarker: 'getNewMarker',
      signaling: 'getSignaling',
      quantity: 'getQuantitySelected',
      getZone: 'getZoneSelected',
      getPic: 'getPic',
      getTrashTypes: 'getTypesSelected'
    })
  },
  methods: {
    dispatcher() {
        axios.get('/setMarkerToCollect', {params: {markerId: this.marker._id}})
          .then((response) => {
            this.getAllMarkers()
          })
        this.$emit('closePoppin')
    },
    ...mapActions({
        closeShowMarker: 'closeShowMarker',
        setShowingMarker: 'setShowingMarker',
        getAllMarkers: 'getAllMarkers'
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .poppin {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.4s ease;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }
    .poppin.active {
        opacity: 1;
        background-color: rgba(0,0,0,0.4);
        pointer-events: all;
        z-index: 60;
    }
    .poppin .box {
        padding: 18px;
        background-color: #2D2373;
        color: #fff;
        border-radius: 30px;
    }
    .poppin .box h3 {
        text-transform: uppercase;
    }
    .poppin .box p {
        font-size: 0.9rem;
    }
    .poppin .box p.headline {
        font-size: 1rem;
    }
    .confirm {
        display: inline-flex;
        background-color: #fff;
        color: #2D2373;
        border-radius: 30px;
        padding: 8px 12px;
    }
</style>
