<template>
    <div class="content" :class="{bigger: bigger, step2: currentStep > 1}">
        <div class="close" :class="{signaling: signaling}" @click="dispatcher()">Annuler</div>
        <h2 v-show="currentStep == 1">Je signale une zone de déchets</h2>
        <h2 v-show="currentStep == 2">Je donne de l'information</h2>
        <h2 v-show="currentStep == 3">Récapitulatif du signalement</h2>

        <indicator :stepsIndicator="stepsIndicator" :currentStep="currentStep"/>
        <div class="body">
            <div class="step-container">
                <step-1 v-show="currentStep == 1"/>
                <step-2 v-show="currentStep == 2"/>
                <step-3 v-show="currentStep == 3"/>
            </div>

            <div class="barr-step">
                <div v-show="currentStep > 1" @click="currentStep--" class="previous"><picture><img src="../../assets/left-arrow.svg"></picture></div>
                <div class="continue" v-show="currentStep < 2 || (currentStep == 2 && getPic)" @click="nextStep()" :class="{inactive: currentStep > 1 && !getZone}">Continuer</div>
                <form ref="formy" method="post" enctype="multipart/form-data" action="/upload" v-show="currentStep == 2 && !getPic">
                    <input id="file" type="file" accept="image/*" @change="saveFormPic()" name="file" style="display: none;">
                    <div class="fileClick" onclick="document.getElementById('file').click();">Prendre une photo</div>
                    <input type="submit" value="Submit" style="display: none">
                </form>

                <div class="continue" v-show="currentStep == 3" @click="registerMarker()">Valider!</div>
            </div>
        </div>
    </div>
</template>

<script>
import Step1 from './Steps/Step1'
import Indicator from './Indicator'
import Step2 from './Steps/Step2'
import Step3 from './Steps/Step3'
import axios from 'axios'
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'TabBarrContent',
  data() {
    return {
        stepsIndicator: ['Localisation', 'Informations', 'Validation'],
        currentStep: 1,
        marker: null,
        bigger: false
    }
  },
  components: {
    Step1,
    Step2,
    Step3,
    Indicator
  },
  computed: {
    ...mapGetters({
      getCurrentPlace: 'getCurrentPlace',
      getNewMarker: 'getNewMarker',
      signaling: 'getSignaling',
      quantity: 'getQuantitySelected',
      getZone: 'getZoneSelected',
      getPic: 'getPic',
      getTrashTypes: 'getTypesSelected'
    })
  },
  methods: {
    nextStep() {
        this.currentStep++
    },
    dispatcher() {
        this.setSignaling()
        this.currentStep = 1
    },
    ...mapActions({
      setSignaling: 'setSignaling',
      addMarker: 'addMarker',
      setCurrentPlace: 'setCurrentPlace',
      setCenter: 'setCenter',
      setPic: 'setPic',
      reset: 'reset'
    }),
    registerMarker() {
      this.sendFormPic();
    },
    saveFormPic () {
      var imagefile = document.querySelector('#file')
      this.setPic(imagefile.files[0])
      this.nextStep()
    },
    sendFormPic () {
      var formData = new FormData()
      var marker = this.getNewMarker
      marker.infos = {
        collect: false,
        address: this.getCurrentPlace.formatted_address,
        zone: this.getZone,
        quantity: this.quantity,
        trashTypes: this.getTrashTypes
      }
      formData.append('file', this.getPic)
      formData.append('marker', JSON.stringify(marker))
      axios.post(`/upload`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then((response) => {
        this.currentStep = 1;
        this.setSignaling();
        this.reset();
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 15;
    height: 50%;
    bottom: -50%;
    transition: 0.4s all ease;
    background-color: #fff;
    left: 0;
    border-radius: 27px 27px 0 0;
  }
  .content.bigger {
    height: 75%;
  }
  .content.step2 {
    height: 90%;
  }
  .content.opened {
    bottom: 0;
  }
  .body {
    flex: 1 1 auto;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    height: 0px;
    padding: 0 18px;
  }
  .wrapper {
    flex: 1 1 auto;
    overflow-y: scroll;
    min-height: 0px;
  }
  .content.big {
    height: 100%;
  }
  .barr-step {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  .barr-step > div.continue {
    background-color: #FA6E5F;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
  }
  .barr-step > div.previous {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
  }
  .barr-step > div.previous picture {
    display: flex;
    align-items: center;
  }
  .barr-step > div.previous img{
    width: 18px;
  }
  .barr-step > div.inactive {
    background-color: gray;
    pointer-events: none;
  }
  .close {
    color: #fff;
    transition: all 0.8s ease;
  }
  .close.signaling {
    transform: translateY(-30px);
  }
  h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9rem;
    margin: 0;
    color: #4A4A4A;
  }
  .fileClick {
    background-color: #FA6E5F;
    padding: 8px;
    color: #fff;
    border-radius: 8px;
  }
</style>
