<template>
    <div class="comments-section" :style="{height: sectionHeight}">
        <ul ref="section">
            <li>
                <div class="img">
                    <img src="../../../assets/fish.svg">
                </div>
                <div class="content">
                    <div class="user">User</div>
                    <div class="comment">Content</div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
import axios from 'axios'
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'CommentsSection',
  data() {
    return {
        sectionHeight: 0
    }
  },
  computed: {
    ...mapGetters({
      marker: 'showMarker',
      getCurrentPlace: 'getCurrentPlace',
      getNewMarker: 'getNewMarker',
      signaling: 'getSignaling',
      quantity: 'getQuantitySelected',
      getZone: 'getZoneSelected',
      getPic: 'getPic',
      getTrashTypes: 'getTypesSelected'
    })
  },
  methods: {
    ...mapActions({
        closeShowMarker: 'closeShowMarker'
    })
  },
  mounted() {
    this.sectionHeight = this.$refs.section.clientHeight + "px"
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .comments-section {
        display: flex;
        flex-direction: column;
        -webkit-flex: 1 1 auto;
        overflow: hidden;
        width: 100%;
        transition: all 0.4s ease;
        margin-bottom: 38px;
    }
    .comments-section.inactive {
        height: 0px!important;
    }
    .comments-section ul {
        margin: 0;
        padding: 0;
    }
    .comments-section ul li {
        margin: 0;
        padding: 18px 0px;
        display: flex;
    }
    .comments-section ul li .img {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #A0d7f5;
        border-radius: 100%;
        margin-right: 18px;
    }
    .comments-section ul li .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
    }
    .comments-section ul li .content .user {
        font-weight: bold;
        margin-bottom: 4px;
    }
    .comments-section ul li .content .comment {
        font-style: italic;
        font-size: 0.9rem;
    }
</style>
