<template>
    <div class="show-marker" :class="{active: marker}">
        <div v-if="marker.infos" class="main-container">

            <h3 v-if="!marker.infos.collect"><img src="../../../assets/zone.svg">Zone de déchets</h3>
            <h3 v-else><img src="../../../assets/gan_selected.svg">Collecte</h3>

            <div class="info-container">
                <h4>Lieu</h4>
                <p><img src="../../../assets/lieu.svg" style="margin-right: 8px">{{marker.infos.address}}</p>
                <div class="icon-container">
                    <div class="iconSelected active" :class="[marker.infos.zone.class]"></div>
                    <p>{{marker.infos.zone.name}}</p>
                </div>
            </div>
            <div class="info-container">
                <h4>Quantité de déchets</h4>
                <div class="icon-container">
                    <div class="icony" :class="marker.infos.quantity.class"></div>
                    <p>{{marker.infos.quantity.text}}</p>
                </div>
            </div>
            <div class="info-container tags-container">
                <h4>Type de déchets</h4>
                <tag v-for="type in marker.infos.trashTypes" :type="type"/>
            </div>
            <div class="info-container full pic-container">
                <div class="picture-container" :style="{'background-image': 'url(//'+ marker.infos.picture +')'}">
                </div>
                <div class="organise-collect" v-if="!marker.infos.collect">
                    <div @click="organise()">J'organise une collecte</div>
                </div>
            </div>
            <div class="info-container full">
                <div class="text-container">
                    <span>Commentaires(2)</span>
                    <span class="comment-small" @click="setCommentsSection()">
                        <span v-if="!commentsActive">Voir tous les commentaires</span>
                        <span v-else>Masquer les commentaires</span>
                    </span>
                </div>
                <comments-section :class="{inactive: !commentsActive}"/>
            </div>
        </div>
        <div class="features-container" v-if="marker.infos">
            <div class="img-container">
                <div class="icon"><img src="../../../assets/comment.svg"></div>
                <div class="container" v-if="!marker.infos.collect">
                    <div class="icon" style="margin-right: 8px"><img style="transform: translateY(3px);" src="../../../assets/down_vote.svg"></div>
                    <div class="icon"><img src="../../../assets/up_vote.svg"></div>
                </div>
                <div class="icon" :class="{collect: marker.infos.collect}" v-else>Je participe</div>
            </div>
            <div @click="closeShowMarker()" class="close">Fermer</div>
        </div>
        <poppin :class="{'active': showPoppin}" @closePoppin="organise()"/>
    </div>
</template>

<script>
import Tag from '../Steps/Tag'
import CommentsSection from './CommentsSection'
import Poppin from '../Poppin'
import axios from 'axios'
import {mapGetters, mapState, mapActions} from 'vuex'

export default {
  name: 'ShowMarker',
  data() {
    return {
        commentsActive: false,
        showPoppin: false
    }
  },
  components: {
    Tag,
    CommentsSection,
    Poppin
  },
  computed: {
    ...mapGetters({
      marker: 'showMarker',
      getCurrentPlace: 'getCurrentPlace',
      getNewMarker: 'getNewMarker',
      signaling: 'getSignaling',
      quantity: 'getQuantitySelected',
      getZone: 'getZoneSelected',
      getPic: 'getPic',
      getTrashTypes: 'getTypesSelected'
    })
  },
  methods: {
    organise() {
        this.showPoppin = !this.showPoppin
    },
    setCommentsSection() {
        this.commentsActive = !this.commentsActive
    },
    ...mapActions({
        closeShowMarker: 'closeShowMarker'
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .show-marker {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: -90%;
        left: 0;
        height: 90%;
        width: 100%;
        background-color: #fff;
        z-index: 16;
        transition: all 0.4s ease;
        box-sizing: border-box;
        border-radius: 0 0 30px 30px;
    }
    .show-marker.active {
        top: 0;
    }
    .show-marker .main-container {
        display: flex;
        flex-wrap: wrap;
        -webkit-flex: 1 1 auto;
        overflow-y: scroll;
        padding: 0 18px;
        overflow-x: hidden;
    }
    .show-marker .tag {
        padding: 2px 5px;
    }
    .show-marker .info-container.pic-container {
        margin-top: 38px;
    }
    .show-marker .picture-container {
        display: flex;
        height: 120px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1.3);
    }
    .show-marker .icon-container {
        display: flex;
    }
    .show-marker .close {
        position: absolute;
        color: #fff;
        transition: 0.8s all ease;
        bottom: 0;
        width: 100%;
    }
    .show-marker.active .close {
        bottom: -40px;
    }
    .show-marker .iconSelected {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        width: 10px;
        height: 10px;
        padding: 5px;
        border-radius: 10%;
        -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        margin-right: 8px;
    }
    .organise-collect {
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 50;
    }
    .organise-collect > div {
        background-color: #FA6E5F;
        font-weight: bold;
        padding: 8px 18px;
        color: #fff;
        z-index: 50;
        border-radius: 20px;
    }
    .icony {
        background-position: left;
    }
    h3 {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: left;
    }
    h3 img {
        margin-right: 8px;
    }
    .show-marker .info-container {
        width: 50%;
        padding: 0 8px;
        box-sizing: border-box;
        margin: 8px 0;
        position: relative;
    }
    .show-marker .info-container.full {
        width: 100%;
    }
    .show-marker .info-container > div {
        margin-top: 4px;
    }
    .show-marker .tags-container {
        display: flex;
        width: 100%;
    }
    .show-marker .info-container h4 {
        display: flex;
        width: 100%;
        text-align: left;
        margin: 0;
        margin-bottom: 4px;
        font-size: 0.9rem;
    }
    .show-marker .info-container p {
        display: flex;
        align-items: flex-start;
        text-align: left;
        margin: 0;
    }
    .tags-container {
        display: flex;
    }
    .text-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .text-container span.comment-small {
        font-size: 0.8rem;
        font-style: italic;
    }
    .img-container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        bottom: -18px;
        padding: 0 48px;
        box-sizing: border-box;
    }
    .img-container .container {
        display: flex;
    }
    .img-container .icon {
        background-color: #fff;
        padding: 8px 12px;
        border-radius: 30px;
        width: 40px;
        height: 20px;
        -webkit-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        -moz-box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        box-shadow: 0px 2px 20px 2px rgba(169,169,169,0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-container .icon.collect {
        background-color: #2D2373;
        color: #fff;
        font-weight: bold;
        font-size: 0.8rem;
        width: auto;
    }
    .features-container {
        position: relative;
    }
</style>
